[2018-03-07 18:33] Hananel-Hazan opened #15 "RuntimeError: dimension out of range (expected to be in range of [-1, 0], but got 1)"
@djsaunde
When running the ETH.py without any parameters I'm getting the error:
[code]

[2018-03-09 19:09] #15 closed, assigned to nobody

[2018-03-21 04:14] hqkhan opened #17 "General plot function"
I'm having trouble visualizing how this function is going to be used. As @djsaunde has mentioned before, it'd be better to have it use `plt.plot()` but this brings up a couple of problems if we need to plot voltages and such since they use colormap. So, for example if we are trying to plot voltages of neurons throughout the simulation, how do we want this visualized? It was simple to do it using `

[2018-05-01 16:28] #17 closed, assigned to djsaunde, Hananel-Hazan

[2018-06-08 01:32] kevinlemon opened #73 "How can we test the trained network on the test dataset?"
Hello.
In your './examples/eth_mnist.py', you showed how to train the SNN. How can we evaluate the trained SNN on the test dataset?

[2018-06-08 01:36] djsaunde commented on #73
Hi @kevinlemon,

Yes, that's approximately what we do. See [this repository](https://github.com/djsaunde/bindsnet_experiments) for an example for the Diehl and Cook 2015 network. We end up tweaking the network a bit to make it behave a little more predictably during the test phase (e.g., by removing STDP updates).

P.S. More experiments will be added soon.

[2018-06-08 02:00] kevinlemon commented on #73
Great! Thanks.

[2018-06-08 02:04] #73 closed

[2018-06-11 17:11] djsaunde opened #75 "Use f-strings for string formatting"
[f-strings](https://cito.github.io/blog/f-strings/) are new in Python 3.6 (which our library requires). They appear to be a better option for string formatting than the `%`-formatted strings we currently use, for readibility and performance reasons, and boasts some additional neat features (see the blog post linked above). Here's an example:

[code]

[2018-06-19 18:05] Modatu opened #80 "Problem running the examples"
Hello everybody,

first off thank you for your efforts, I really like your approach.

I cloned the up-to-date version of your repo and tried your examples on a fresh aws deep learning ami.
My pytorch version is 0.4.0

When I run the eth_mnist.py example I get the following error:

[code]

Thanks for your help!

Best regards,
Florian

[2018-06-19 18:12] djsaunde commented on #80
Hi @Modatu,

Thanks for the bug report! I just pushed a fix for this bug (that was introduced just a few days ago!). The example script should work now.

Thanks,
Dan

[2018-06-19 18:21] Modatu commented on #80
Thank you,
this fixes the issue for me!

[2018-06-19 18:21] #80 closed

[2018-06-19 22:30] #75 closed

[2018-06-21 12:30] manjunaths opened #83 "How to save the trained network weights ?"
I trained the network and after 60000 steps the conv_mnist.py just exited. There was no weights file that I could find. How to test the network with our own inputs ? Or is it supposed to be trained via a notebook file and we keep it 'live' and give custom test images ?

[2018-06-21 12:38] djsaunde commented on #83
Hi @manjunaths,

`conv_mnist.py` is just an example script. We haven't provided *any* guarantees about what it should do; it simply is an example of how BindsNET can be used.

Check out [this script](https://github.com/djsaunde/bindsnet_experiments/blob/master/scripts/mnist/diehl_and_cook_2015.py) for an example of how BindsNET's `network.save()` and `load_network()` functions can be used to save

[2018-06-21 12:49] manjunaths commented on #83
Thank you for the information. I am going to close this issue now.

[2018-06-21 12:49] #83 closed

[2018-06-21 15:04] djsaunde opened #84 "Integrating n-gram"
@hqkhan, when you have the time, can you put together a pull request with the ngram functionality in it?

[2018-06-21 15:07] hqkhan commented on #84
Absolutely. I submitted a test to swarm2 yesterday to test whenever it's working or not. I should be making a pull request tonight most likely.

[2018-06-21 16:22] djsaunde commented on #84
Awesome, let me know whether you need help with this.

[2018-06-21 17:12] djsaunde opened #85 "Plotting directly from network state"
I would like to be able to call functions `plot_voltages` or `plot_spikes` (and the like), and pass a `Network` object (in additional to being able to pass dictionaries of voltages or spikes, as we currently do). The function should, by default, plot all layers' voltages / spikes / etc., depending on its header, but the user should be able to select a subset of layers to consider. The state variab

[2018-06-26 01:51] ssmint opened #91 "Slowdown when Compute with GPUs"
I tested a performance of Peter Diehl's code over two different modes (with and without GPU) and found that there is a huge difference in runtime. Running the code on 8-core i-7 computer is twice faster than running the code with 4 decent GPUs server. Is there anyone who observes a similar runtime difference?

[2018-06-26 14:51] djsaunde commented on #91
I think it depends on the type of GPU being used and the code being run. Not all network simulations are well-suited to being run on the GPU, especially smaller networks. I have a GTX 1060 6gb that I use to test the code, and found that there are some time savings when the simulated networks are large.

I've also tested with an NVIDIA Quadro M1200, where small-scale experiments seem to take more t

[2018-06-26 15:00] djsaunde commented on #91
@ssmint Feel free to take a look at the code and make suggestions or even pull requests to speed things up!

[2018-06-26 15:00] ssmint commented on #91
I agree that larger network will be beneficial from using GPU. I am using Titan XP for testing. The network in Peter Diehl's example code is probably not large enough. I will close the issue then.

Looking forward to see more quantifying from BindsNET in the future.

[2018-06-26 15:00] #91 closed

[2018-06-26 15:06] djsaunde commented on #91
It is interesting that the code is slower by 2x using Titan XP. I'm not seeing such a dramatic difference with the GTX 1060. I'll be looking into this.

[2018-06-26 15:12] ssmint commented on #91
I will play with the example code and send you more detailed comparison if I have time.

[2018-06-28 13:16] djsaunde commented on #84
Hey @hqkhan,

Any movement on this? Let me know if you need any help.

[2018-06-29 03:03] hqkhan commented on #84
Hey. I'm still stuck at the bug that I was previously mentioning with the spiking activity suddenly being nothing. I tried making some counter-measures but for some reason it still ends up crashing.

Also, there's this weird thing where the ngram accuracy currently is always 100%. I tried checking predictions vs truth but they're actually the exact same. So, I'm confused.

Haven't been able to wor

[2018-06-29 10:54] djsaunde commented on #84
Okay, I'll try my best to look into it.

I think the n-gram accuracy is 100% because you're testing on the n-gram training data; i.e., you're updating the n-grams with the same data you're classifying. I could be wrong.

[2018-06-29 11:43] djsaunde commented on #84
I rearranged the `ngram_scores` update to after the `ngram_pred = ...` call, which fixed the 100% accuracy all the time as expected. However, I'm running into a problem with the ngram scores calculation:

I'm looking at `update_ngram_scores`, and it seems like you're keep around a dictionary mapping from 2-tuples of time points to a vector of label counts.

I don't think this is what we want, righ

[2018-06-29 11:59] djsaunde commented on #84
These two lines in `ngram()` cause the crash you mentioned earlier. Just remove these, and I think it won't affect the logic.

![image](https://user-images.githubusercontent.com/1245942/42091166-3893b2ae-7b72-11e8-9f91-3039d8f8b3d7.png)

[2018-06-29 12:12] djsaunde commented on #84
By the way, this method doesn't exactly implement n-gram; it implements a 2-gram with variable spacing between the two considered neurons indices. For example, if you pass `n=3`, you'll record all pairs of spikes separated by a single intermediate spike; if you pass `n=4`, you'll record all pairs of spikes separated by two intermediate spikes, and so on.

Does this make sense?

[2018-06-29 12:36] hqkhan commented on #84
Yes, I agree. Have you tried running it? Does it work?

[2018-06-29 12:40] djsaunde commented on #84
Yup, it does! I just fixed up the `diehl_and_cook_2015.py` script to use the 2-gram evaluation scheme (2-gram is all that works for now!).

[2018-06-29 12:40] djsaunde commented on #84
By the way, I accidentally pushed to your branch. Sorry about that...

[2018-06-29 12:41] hqkhan commented on #84
Awesome! Thanks for that. Just to check, it crashes at 5k training data, not instantly. I'm assuming you ran it for a while to check?

No worries about that. I'll pull. Thanks for letting me know.

[2018-06-29 12:42] djsaunde commented on #84
Well, it can crash at any point. It depends on essentially all hyperparameters. I didn't run until 5k to check, because I was pretty certain what was causing the error.

[2018-06-29 12:43] hqkhan commented on #84
Gotcha. True that it can crash at any point but for the default set of hyperparameters, it was crashing at 5k. No worries though, I'm sure you got it.

[2018-06-29 17:36] #84 closed

[2018-06-29 18:03] Hananel-Hazan commented on #84
Last time I check, you dont need to run until 5k to check. Instead you can train on 500 and then run the test. It should crash on the 1050~ish image

[2018-06-29 18:04] djsaunde commented on #84
I believe the issue is fixed now

[2018-06-29 18:05] Hananel-Hazan commented on #84
About 2-gram evaluation, Darpan found that 2 was the best score. We need to check if its the case today

[2018-06-29 18:06] djsaunde commented on #84
We need to first implement general n-gram. Darpan actually only implemented 2-gram, according to @hqkhan's comments above.

[2018-06-29 18:13] Hananel-Hazan commented on #84
No.
Is it the same implementation from the old LM-SNN?

[2018-06-29 18:14] djsaunde commented on #84
Yes. What I'm trying to say is, the old n-gram implementation is incorrect.

If the above doesn't make sense, try reading it again. @hqkhan saw the same problem.

[2018-07-16 08:08] Nuullll opened #97 "Have trouble running the mnist example"
File "examples/mnist/eth_mnist.py", line 159,
Function `get_ngram_counts` is not defined.

[2018-07-16 11:50] djsaunde commented on #85
Implemented by @hqkhan. Closing.

[2018-07-16 11:50] #85 closed

[2018-07-16 11:55] djsaunde commented on #97
Hi @Nuullll,

We just updated the master branch to fix this.

[2018-07-17 02:38] Nuullll commented on #97
I don't think the bug has been fixed :)

[2018-07-17 13:53] djsaunde commented on #97
@hqkhan It looks like `get_ngram_counts` should be replaced with `update_ngram_scores`? Could you fix this?

![image](https://user-images.githubusercontent.com/1245942/42821739-42199e18-89a7-11e8-83f7-0a3d3c49c052.png)

[2018-07-17 21:49] hqkhan commented on #97
Hi @Nuullll, I just updated master with the correct implementation. The code that produced the error should not have been there. I tested `eth_mnist.py` and it works on my end now.

Please let me know if you're still having issues.

[2018-07-18 12:42] #97 closed

[2018-07-26 04:20] qixuxiang opened #102 "issue about docker"
Thanks for your awesome codeshare!

I am new to docker and I do not know how to use dockerfile.

When I run the command

[code]

I check docker images and find a image whose container id and image id is none, maybe it is the docker images I need. But I can not `docker run` the images.

So what should do to use it? Thanks a lot!

[2018-07-26 20:48] sharath opened #103 "Import paths don't function the same"
#100 changed the functionality of imports, not sure if intended. I think this breaks some of the examples.

Before:
[code]

After:
[code]

or

[code]

[2018-07-26 20:52] djsaunde commented on #103
This was intended, and I *think* it's a good / normal practice. Here's an example from `numpy`:

[code]

[2018-07-26 20:55] djsaunde commented on #103
Some of the examples are broken, but I don't really have time to dedicate to working on it right now. So, I'll keep this issue open.

[2018-07-26 22:21] hqkhan commented on #102
Hi @qixuxiang. If the `IMAGE ID` is `<none>` then something likely went wrong although I've never seen that before. Just to check: Are you referring to `REPOSITORY` and `TAG` as being `<none>` after you ran the command: `docker image build .`? If this is what it looks like
![image](https://user-images.githubusercontent.com/22674069/43291311-f890f5de-90fe-11e8-88b7-dd0a53e22615.png)

then it's an e

[2018-07-27 01:30] qixuxiang commented on #102
Hi @hqkhan, Thanks for your elaborative answer! This is the most careful answer I have ever seen in github, you are a true life saver!

[2018-07-27 01:30] #102 closed

[2018-07-27 02:05] hqkhan commented on #102
Happy to help!

[2018-07-27 13:07] djsaunde opened #104 "PyTorch implementation of (homogeneous / inhomogeneous) Poisson encoding"
I think that `bindsnet.encoding.poisson` could easily be converted to use `torch.distributions.Poisson`. It would be a good way for us to reduce reliance on `numpy`, and perhaps improve readibility of the code.

Consider the `poisson` function:

[code]

There are a few things that are missing:

1. No concept of a time step. If we assume the data are coded as rates, with Hz units (which perhaps we

[2018-07-30 23:51] djsaunde opened #105 "default use of `plot_spikes()` breaks existing code"
Since the recent change to `plot_spikes()`, I've been getting errors of the form:

[code]

Could we revert back to the default behavior of accepting a dictionary of spikes to plot? I like the option of plotting from a `Network` instance, but I liked the previous default option.

This is totally up for debate, by the way.

[2018-07-30 23:57] djsaunde commented on #105
Also, I think that `plot_spikes()` needs a rewrite. It's super long...

[2018-07-31 00:56] hqkhan commented on #105
It's meant to accomodate both sides of the coin. As in, you should be able to throw it `dict` of spikes and it should work all the same. I don't currently have the time to look at it therefore if you have time, you could revert `plotting.py` to the commit where it was the older function. I had a commit that removed the old function therefore the one before that will have the older function untouch

[2018-07-31 01:12] djsaunde commented on #105
I agree that it should work if you give either argument. The problem is, the function by default interprets the first argument as a `Network` object, and the second as a `Dict[str, torch.Tensor]`, unless you explicitly pass `network=network` or `spikes=spikes` (with the correct types). Perhaps we could just have the first argument be `Union[Network, Dict[str, torch.Tensor]]` (`Union` is the logica

[2018-07-31 13:03] hqkhan commented on #105
Gotcha. I agree about checking valid inputs. I will make the appropriate changes once I get the time. Sorry about the delay that this will cause.

Would you like me to completely remove the functionality of being able to pass network in or do you see yourself potentially using it? We can simply remove it if it's causing annoyances.

[2018-07-31 13:04] djsaunde commented on #105
Hm, I guess we should just remove it, to reduce complexity. Sorry about the back and forth.

[2018-08-02 12:57] djsaunde commented on #105
Fixed by #108

[2018-08-02 12:57] #105 closed

[2018-08-26 11:25] IgnoreSilence commented on #91
The code was also slower by 2x when I run the **examples/mnist/conv_mnist.py** using GTX 1070 than CPU.

[2018-08-27 14:52] djsaunde commented on #91
@IgnoreSilence From above:

[2018-08-27 14:53] djsaunde commented on #91
As an aside, any pull requests addressing this issue will be greatly appreciated!

[2018-08-31 20:18] djsaunde commented on #103
Fixed!

[2018-08-31 20:18] #103 closed

[2018-09-06 21:09] Hananel-Hazan opened #126 "Weights Decaying"
Add a weights decaying for Hebbian learning

[2018-09-08 12:04] djsaunde commented on #126
I think it would be best to implement this in the abstract base class `LearningRule`, as part of its `update()` function. Then, any class that subclasses `LearningRule` would call the `LearningRule`'s `update()` function as part of its `update()`, where weight decay would be implemented.

We also need to decided what the form of the weight decay is. Is it something like:

`w -= delta`  # for delta

[2018-09-12 15:30] Hananel-Hazan commented on #126
Agreed

[2018-09-12 15:30] #126 closed

[2018-09-12 15:40] djsaunde commented on #126
Has Chetan's code been published in a private repo? If so, could you invite me to collaborate on it?

[2018-09-17 03:25] sharath opened #130 "Easier way to control learning in networks"
Right now you have to iterate through each connection's update rule and set it to NoOp, which is tedious. If you want to turn on learning, you have to restore the learning rule or reload it from disk.

[2018-09-18 01:36] sharath commented on #130
Added in #132

[2018-09-18 01:36] #130 closed

[2018-09-21 13:33] djsaunde opened #134 "Logistic regression evaluation method"
I'd like to implement a logistic regression function in the `bindsnet.evaluation` module. This will be a sort of principled way to evaluate network's learning spiking behavior, at least if we are doing classification. I'll likely be using `sklearn.linear_model.LogisticRegresssion` to do this.

[2018-09-24 20:45] Hananel-Hazan commented on #134
Good idea, a general evaluation function.  I think @dee0512 already have something that he use for the probability neurons

[2018-09-24 20:50] #134 closed

[2018-10-01 20:52] ssmint opened #137 "Inconsistency about refractory period with Brian Simulator"
In my opinion, implementation of refractory period in Brian Simulation makes more sense.

Assume refrac_period = 1
[code]
Ref:
https://github.com/Hananel-Hazan/bindsnet/blob/6d4a7a7980080556c79c34d2a603bada12dc78d0/bindsnet/network/nodes.py#L324-L334

[code]
Ref:
https://github.com/brian-team/brian2/blob/2b8e459798bd84be1c01e707d74993f2f260b5ce/brian2/groups/neurongroup.py#L121

[2018-10-02 14:20] ssmint commented on #137
Since there is a definition of _t_ in [network/__init__](https://github.com/Hananel-Hazan/bindsnet/blob/6d4a7a7980080556c79c34d2a603bada12dc78d0/bindsnet/network/__init__.py#L246), one possible way is to add _t_ as an additional argument to [step](https://github.com/Hananel-Hazan/bindsnet/blob/6d4a7a7980080556c79c34d2a603bada12dc78d0/bindsnet/network/__init__.py#L252) function. Inside the step fun

[2018-10-03 14:12] djsaunde commented on #137
Hm, that could be problematic when doing multiple simulations in sequence. For example:

[code]

Alternatively, one could just reverse the ordering, from:

[code]

to

[code]

Does this make sense? Does this appear to solve the problem?

[2018-10-03 14:21] ssmint commented on #137
Yes, that will be better than my solution.

[2018-10-03 14:39] ssmint commented on #137
You may need to be careful when changing order. There are models (like [this](https://github.com/Hananel-Hazan/bindsnet/blob/6d4a7a7980080556c79c34d2a603bada12dc78d0/bindsnet/network/nodes.py#L564-L574)) that do self.refrac_count == 0 more than once.

[2018-10-05 03:17] djsaunde commented on #137
Solved by #136.

[2018-10-05 03:17] #137 closed

[2018-10-09 17:55] djsaunde opened #139 "Possible use of torch.multiprocessing"
Consider the simulation loop in the `Network.run()` function:

[code]

Where I've marked a `->`, there might be an opportunity to use `torch.multiprocessing`. Since we do updates at time `t` based on network state at time `t-1`, all `Nodes` / `Connection`s updates can be performed with a separate process (thread?) at once. Letting `k` = no. of layers, `m` = no. of connections, given enough CPU / G

[2018-10-10 14:52] godelicbach opened #140 "Implementation of MSTDPET is wrong?"
First of all, thank you for making this open-source library. I really appreciate the intention and approach of this project. And I hope I could contribute something.

Maybe this problem would be more proper to be handled by pull request or something. But I'm not really used to github's contributing process or something. Please tell me if I'm doing something wrong.

Here's the thing. I looked insid

[2018-10-10 14:58] djsaunde commented on #140
Hi @godelicbach,

Thanks for the catch! I think this is the best way to handle this problem, by the way, since it makes it easy for me to understand the issue before rewriting any code.

The implementation does seem wrong, like you say; I'll open a pull request with a fix and reference this issue in it, so you can check it out. I think one reason why it might be wrong is that we haven't really bee

[2018-10-10 15:02] godelicbach commented on #140
Thank you for fast and kind reply!
I also have found other minor bugs here and there. I'll make pull request when my branch's got stabilized.

[2018-10-10 21:45] #140 closed

[2018-10-10 21:47] djsaunde commented on #140
I'll just leave off with this: the `Pipeline` object and interface with OpenAI gym is not a focus of our development at the moment, so I expect there will be a lot of bugs (if this is what you are interested in using). I would love any and all pull requests.

[2018-11-15 05:59] godelicbach opened #151 "Supporting none-1.0 dt"
I tried to change the value of dt from 1.0 to 0.1, but it didn't fit in the pipeline with other components. The error I encountered was difference of number of timesteps between encoded input's and network. Since encoded input's number of timesteps is `time` while network's number of timesteps is `time/dt`. I was thinking about resolving this issue, but I found that it requires redesigning almost

[2018-11-15 14:32] djsaunde commented on #151
Hi @godelicbach,

An easy way to fix this is to create a new `Pipeline` variable `self.sim_time = int(time / dt)`, and pass this into the encoding functions. Or, we could redesign the encoding functions themselves (which are sorely in need of an update anyway) by having them accept a `dt` argument as well.

Thoughts?

[2018-11-15 15:01] djsaunde commented on #151
After a bit more thought, I think it makes more sense to have all `encoding` functions accept a `dt` argument. For example, in the `poisson` encoding, the spike train generation must depend on the simulation time step in order to achieve the correct firing rates.

[2018-11-15 17:12] djsaunde commented on #151
This has been resolved by #152.

[2018-11-15 17:12] #151 closed

[2018-11-16 17:14] PaulMuadDib opened #153 "Problem while running python setup.py install"
Hi there
On windows 10, using Python 3.6.6 :: Anaconda custom (64-bit), I get the complaints below while installing bindsnet. Any idea ?

`D:\EEG_Signals\bindsnet-master>python setup.py install
D:\Anaconda3\lib\distutils\dist.py:261: UserWarning: Unknown distribution option: 'long_description_content_type'
  warnings.warn(msg)
running install
running bdist_egg
running egg_info
creating bindsnet.eg

[2018-11-16 18:18] djsaunde commented on #153
Hi @PaulMuadDib,

It looks like there's an issue installing pyproj (1.9.5.2). Can you try troubleshooting that?

I'll willing to try to reproduce this, but I won't have access to a Windows machine for a little while. Could you also try `pip install .` install of `python setup.py install` (just a sanity check)?

[2018-11-16 19:01] PaulMuadDib commented on #153
I had first tried via `pip install` with the same result.
I am willing to dig into this.

[2018-11-16 19:20] PaulMuadDib commented on #153
the setup went fine after the installation pyproj via Gohlke's binaries
https://www.lfd.uci.edu/~gohlke/pythonlibs/#pyproj

[2018-11-16 20:50] #153 closed

[2018-11-21 19:19] sharath opened #156 "Consistency with nu and nu_post, nu_pre"
There are some inconsistencies with nu_post and nu_pre. For instance, the Network is implemented using a tuple (nu_pre, nu_post) whereas some of the models use nu_pre, nu_post as separate parameters. (Also since they have kwargs it silently does nothing if one is used instead of the other)

I think we should try to keep it consistent.

Unless this is intentional?

[2018-11-21 21:57] djsaunde commented on #156
Yeah, I think this makes sense. The reason for the inconsistency is because both used to use `nu_pre, nu_post`, and I recently switched the `topology` modules and `LearningRule`s (I think this is what you meant by `Network`?) use `nu`. I simply hadn't switched them yet, since the `models` are pretty low priority / are there for our own experimental convenience.

[2018-11-21 21:57] #156 closed

[2018-11-25 01:55] sharath opened #160 "Moving Network objects to different device?"
Is there an efficient/easy way to move a network from one device to another?

For instance if I instantiated a network on GPU 1 and I want to move it to GPU 2, how would I go about doing this? Obviously I can iterate through all Tensor objects in the Network and call .to(device), but is there a better alternative?

[2018-11-25 02:09] djsaunde commented on #160
You could implement .to(device) for Network, which would call .to(device)
for all Tensors of nodes and connection objects. Maybe look at his
torch.nn.Module handles this?

Speaking of, having nodes, connections, and Network subclass
torch.nn.Module might make including functionality like this easier.

On Sat, Nov 24, 2018 at 8:55 PM Sharath Ramkumar <notifications@github.com>
wrote:

--
*Dan Saund

[2018-11-26 22:48] PaulMuadDib opened #163 "Implementing conduction delays ?"
Implementing a conduction delay for a connection, or a set of conduction delays to model directly an impulse response ? (for a connection)

[2018-11-26 23:01] djsaunde commented on #163
Could you elaborate? PRs are welcome.

[2018-11-27 19:49] PaulMuadDib commented on #163
For the time being, a connection is a weight, and I was wondering about the possibility to add a "conduction delay" attribute (say from 0 to 50 ms) to simulate the time needed for the action potential / spike to propagate from one neuron to the following... so that a connection would be a (weight , delay) in this manner: https://www.izhikevich.org/publications/spnet.cpp
I was also wondering about

[2018-11-28 13:57] djsaunde commented on #163
That is an interesting idea, but I'm not sure we need it in BindsNET, especially not in the generic `Connection` object where it would induce computational overhead. Maybe implementing a new `DelayConnection` object with this functionality would be the way to go.

Personally, I don't have a use case for simulating propagation times, nor do I have the extra time to work on it, so I'd encourage you

[2018-11-29 02:40] godelicbach opened #166 "Weight update frequency of reward-modulated learning rule"
[code]
Above is the part of the `run()` function in `network` class. I found that if I'm using MSTDPET learning rule, the network is updating the weight at every network-timestep with same reward value. I'm curious if it is intended or not because I expected the network to update at every agent-timestep (every time the agent interacts with the environment).

After some thinking I see that updating

[2018-11-29 15:12] djsaunde commented on #166
This is intended; typically, the environment takes a step, and then the agent takes a step, then the environment, ... as in the typical RL setup. The network can "tick" (or, run a simulation timestep) multiple times when it's called in between calls to the environment.

It *might* be interesting to allow `reward` to be either a `float` or a `torch.Tensor`; that is, a sequence of rewards, one for e

[2018-11-30 16:42] djsaunde commented on #166
Hm, that's interesting. Could you put together a PR to this effect? I can imagine, like you say, that some learning rules could be applied in a batch-like manner, where the updates only occur after a chunk of simulation time (rather than per simulation timestep).

This is already possible in experimental scripts: you can perform arbitrary updates to connection weights of your `Network` object betw

[2018-12-02 21:11] PaulMuadDib commented on #163
I understand, it is not my priority right now, and it would certainly slow down the computations. I may try to implement it as a new connection object later, but I am rather struggling to backpropagate rewards in an efficient manner for now.

[2018-12-03 02:58] godelicbach commented on #166
OK,  I'll make PR when my implementation is stabilized enough. It may take some time.

[2018-12-04 04:43] godelicbach opened #167 "How about making Agent class?"
After reading and writing codes of BindsNET, I felt the current structure of the project is a little bit nonintuitive. Therefore I'm suggesting introducing new class called `Agent` which contains `network`, `encoding`, and `action_function` and maybe more. I think this would help us lot on organizing codes based on concrete conceptual model.

For example, related to we discussed in #151, `action_f

[2018-12-04 14:19] djsaunde commented on #167
Hi @godelicbach,

Why not just pass `dt` as an argument to the `action_function`? The `Pipeline` object already has a `Network`, `encoding`, and `action_function`.

You can implement this if you'd like, but I'm not sure we want to include it in BindsNET. Feel free to use it for your own experimentation, though.

[2018-12-11 21:04] #167 closed

[2018-12-11 21:04] #166 closed

[2018-12-11 21:04] #163 closed

[2018-12-26 07:00] janilbols opened #170 "Issue about 'example/mnist/eth_mnist.py' using --gpu"
Hi all, I'm new about the project and just clone the latest master-branch on my own machine.

I installed the pkg bindsnet with
`pip install .`, and tried to run the example code 'eth_mnist.py' with gpu mode:
`python eth_mnist.py --gpu`
but error occurs during runtime:
[code]
How do I fix it? My environment? Or should it be the code-version?

Could you give me some hint for running mnist example c

[2018-12-26 12:38] PaulMuadDib commented on #163
Hi there,
It appears that minor modifications on the "Connection" object (see DelayedConnection below) would allow the introduction of synaptic conduction delays (which, imo, are fundamentally required to represent/augment the adaptive spatiotemporal processing capabilities of a spiking neuron ruled by STDP, and allow the emergence of richer internal representations in the form of polychronous gro

[2018-12-26 13:18] djsaunde commented on #170
Hi @janilbols,

I wasn't able to reproduce this error. Could you send me the output of `pip list` on your machine?

[2018-12-27 01:51] janilbols commented on #170
Hi @djsaunde , this is the output of `pip list`:
[code]

[2018-12-27 07:53] janilbols commented on #170
**Problem solved** after changing the script 'eth_mnist.py' line 113 to 116:
[code]
The `torch.sum` returns a `tensor`, which can't be operate by numpy. Use `.data.tolist()` to convert tensor to list, which works.

[2018-12-27 07:53] #170 closed

[2018-12-31 16:15] kingjr opened #172 "Q: Structured input in Poisson?"
Thanks for this fantastic package.

It seems that above certain value, the poisson encoder stops generating spikes. Is this expected because firing frequency is above sampling rate? I'm puzzled by the fact that top neurons keep firing, although it should be random.

[code]
![image](https://user-images.githubusercontent.com/4881164/50563673-2193ea80-0d1f-11e9-8cd5-461ca5cb56ad.png)

[2018-12-31 16:21] djsaunde commented on #172
Hi @kingjr,

This is a good catch. I'm going to try to fix this today! Feel free to open a PR if you figure out a solution yourself.

[2018-12-31 16:37] djsaunde commented on #172
It appears the bug was introduced since we upgraded to PyTorch 1.0.0. But, I was able to fix it!

[2019-01-09 08:50] janilbols opened #174 "[Bug Maybe?][model: IncreasingInhibitionNetwork][Weight Initialization]"
hi, I'm looking into the code for model [IncreasingInhibitionNetwork](https://github.com/Hananel-Hazan/bindsnet/blob/master/bindsnet/models/__init__.py), and is a bit confused about line 228-229:

[code]
I think it's used for initializing the weights `w` of connection, depend on the distance between two neurons.
[code]
As the default initial value for `start_inhib=1.0, max_inhib=100`, but we expec

[2019-01-09 10:03] dee0512 commented on #174
Yes. You are right. You can create a PR. The second option is better since it is easier to understand.

[2019-01-10 05:37] janilbols commented on #174
Alright, I've create a PR.

[2019-01-11 07:14] #174 closed

[2019-01-22 02:10] zhouxzh opened #177 "Error response from daemon: manifest for hqkhan/bindsnet:latest not found"
I want to install bindsnet by docker.
But when I want to pull the docker image by command "docker pull hqkhan/bindsnet", I got the following error message "Error response from daemon: manifest for hqkhan/bindsnet:latest not found"

Xianzhong Zhou
Guangdong University of Technology

[2019-01-22 14:32] djsaunde commented on #177
@hqkhan I know you're not involved with this project any more, but do you happen to know why this error is occuring? I'm not familiar with Docker. Let me know if you can't / don't want to handle this, and I'll try to figure it out.

[2019-01-24 03:51] sinkingsugar opened #178 "refract_count going negative"
I'm having a issue with refract_count going always negative.
I noticed something that might actually be a bug.

For example in:
https://github.com/Hananel-Hazan/bindsnet/blob/197cfbd00bfd2c270b2232f7eb9cca66f10bda42/bindsnet/network/nodes.py#L295

Shouldn't this be `(self.refrac_count > 0).float()` ? Considering floating point precision this will likely never be back at `0` but more like e.g. `ten

[2019-01-24 14:19] djsaunde commented on #178
Thanks for spotting this, it's definitely a problem.

[2019-01-24 16:36] #178 closed

[2019-01-25 15:03] godelicbach commented on #91
I was assuming that bindsnet uses GPU by default, but it wasn't. And I didn't know how to enable GPU without any serious modification of codes. How do you guys are toggling the GPU on and off? Beside, I am thinking that introducing batch-computing will dramatically increase the utilization of GPU for bindsnet. I'll make pull request if this is needed feature.

[2019-01-25 15:14] djsaunde commented on #91
I'm using `torch.set_default_tensor_type('torch.cuda.FloatTensor')` at the top of scripts when I intend to use the GPU. I haven't had any problems with this approach yet. It would be nice to have `cpu()` / `gpu()` functions for the `Network` / `Nodes` / 'Connection' objects (see https://github.com/Hananel-Hazan/bindsnet/issues/160). Keep in mind (see above discussion) that enabling GPU computation

[2019-01-25 15:19] djsaunde commented on #160
Hey @sharath, any movement on this feature?

[2019-01-28 19:17] hqkhan commented on #177
@djsaunde Sorry for being mia. Didn't know that my UMass email had been deactivated and I never got this notification. I will take a look at this when I get back from work.

[2019-01-28 19:46] elliothe opened #180 "Get error with using GPU for MNIST example"
When I wanna run the example code with GPU:
`python eth_mnist.py --gpu`
I get the following error:
[code]

[2019-01-28 21:42] hqkhan commented on #177
Hi @zhouxzh. I have added the `latest` tag to the docker repo. It should allow you to pull now. Let me know if there are questions.

[2019-01-28 22:39] Hananel-Hazan commented on #180
Hi @elliothe  Thank you for using BindsNET.

Unfortunately I'm not getting the error you got:
[code]

Can you make sure that you running the latest version of PyTorch and BindsNET?
Also, please make sure that PyTorch using GPU properly using this [link](https://stackoverflow.com/questions/48152674/how-to-check-if-pytorch-is-using-the-gpu)

[2019-01-28 23:06] elliothe commented on #180
Hi @Hananel-Hazan,
I did use the `pip install bindsnet` to install the bindsnet under the conda environment.

There should be no problem for pytorch to use GPU.
[code]

[2019-01-28 23:47] elliothe commented on #180
I reinstall the bindsnet with the cloned repository, and it works. However, if I wanna enable the figure plot, the same error comes back.
[code]
Morever, I found the code running on GPU is even slower than CPU version.

[2019-01-29 00:53] Hananel-Hazan commented on #180
I pushed a fix to the plotting issue. Thank you for pointing it out

About the performance, the size of the network in this example is not enough to favorite GPU. CPU, in this case, will be faster (depending of course on the CPU model).
In much larger network, the GPU will be much faster.  For example see the benchmark in [link](https://www.frontiersin.org/articles/10.3389/fninf.2018.00089/full)

[2019-01-29 14:51] #177 closed

[2019-01-29 14:56] #180 closed

[2019-02-05 19:14] sharath commented on #160
@djsaunde I'll work on this soon.

[2019-02-07 18:51] dee0512 opened #184 "Convolution connections do not have normalize_by_max function"
Convolution connections are broken due to the normalize_by_max function in the network init file.

[2019-02-09 06:08] sinkingsugar opened #186 "refrac_count going negative part 2"
https://github.com/Hananel-Hazan/bindsnet/blob/05e07721d2d93f95af1391c5bd8cb0d98f5ec929/bindsnet/conversion/__init__.py#L141

Just like #178 This should probably be `self.refrac_count > 0` considering floating point precision issues/fast math etc.

[2019-02-10 21:12] Hananel-Hazan commented on #186
That is correct.
Thanks for point it out

[2019-02-10 21:12] #186 closed

[2019-02-12 09:22] lehahoang opened #188 "Iteration stopped"
Hi,
I have encountered an issue of running the file "eth_mnist.py".
I used a loop with three iterations to train the network three times. It worked with the small number of training set. However, the training process stopped right after the first iteration when 60000 training set was selected. The attached figure depicts the message from the shell.
![screenshot at 2019-02-12 10-10-32](https://user

[2019-02-12 10:32] lehahoang commented on #188
Hi,
I have looked into my code. I guess that after the first iteration of the outer loop, the pointer of the "next(data_loader)" pointed to the last dataset (60000th). Hence, there was no dataset to be loaded for the second training process. I assume that we have to call "data_loader = poisson_loader(data=images, time=time, dt=dt)" syntax again to get the "new" training set.
That's why now my code

[2019-02-12 17:30] dee0512 commented on #188
Hi @lehahoang,

This example was meant to run only one epoch. However, it should be easy to modify the code for more than one epochs as follows:
[code]

[2019-02-12 17:41] lehahoang commented on #188
Hi @dee0512 ,
Thank you for your suggestion. I will try it.

[2019-02-13 11:01] #188 closed

[2019-02-13 20:46] dee0512 opened #189 "Inefficient implementation of connection normalization in network.run"
[code]

The above code adds three if statements per connection each time network.run is called. We can implement it more efficiently.

[2019-02-13 21:02] djsaunde commented on #189
Yeah. I'm not sure we even want all three functions implemented for all `Connection` types; might make sense implement them as-needed instead of maintaining them in the codebase.

[2019-02-14 12:14] lehahoang opened #190 "Testing with conv_mnist.py"
Hello,
I simply tested the conv_mnist.py to see what to be shown but eventually I got this message:

Loading training labels from serialized object file.
Begin training.
Progress: 0 / 60000 (0.0000 seconds)
Traceback (most recent call last):
  File "conv_mnist.py", line 151, in <module>
    network.run(inpts=inpts, time=time) #, clamp=clamp)
  File "/homes/lhoang/anaconda3/lib/python3.7/site-packa

[2019-02-14 16:57] Hananel-Hazan commented on #190
What are the parameters that you tested?
Have you change something in the example from the repo?

[2019-02-14 17:06] djsaunde commented on #190
@Hananel-Hazan I got the same error without any changes. I'll try to fix it today if I have time.

[2019-02-14 20:43] lehahoang commented on #190
Dear @Hananel-Hazan,
I haven't changed anything in the source code taken from the repo.

[2019-02-15 20:52] lehahoang opened #192 "Implementation of different inhibition mechanisms"
Hi,
I am trying to test the ideas from the "Unsupervised Learning with Self-Organizing Spiking Neural Networks" work (arXiv:1807.09374), however, it is still not working.
I would like to ask if any example of inhibition mechanisms presented in this paper available in Bindsnet?
Thank you.

[2019-02-15 20:58] djsaunde commented on #192
Hi @lehahoang,

In general, we try to keep complicated experiments out of the BindsNET repository. See [here](https://github.com/djsaunde/bindsnet_experiments/tree/master/experiments/mnist) and [here](https://github.com/djsaunde/bindsnet_experiments/blob/master/experiments/mnist/two_level_inhibition.py) for the BindsNET adaptation of the experiments from that paper.

Alternatively, the original co

[2019-02-15 21:00] #190 closed

[2019-02-15 21:07] lehahoang commented on #192
Hi @djsaunde,
Thank you for your kind reply.
I think it is better if you can put examples as many as possible. From my perspective, I found it easy to use BindsNET rather than Brian2 simulator.
Best regards,

[2019-02-15 21:27] djsaunde commented on #192
No problem. The BindsNET experiments repository has lots of examples (github.com/djsaunde/bindsnet_experiments). You can install it with `pip install -e .` in the top-level directory.

[2019-02-16 22:53] #192 closed

[2019-02-17 22:31] giorgionanfa opened #195 "Multiple inference on a single image in reservoir.py"
Hello, i would like to use the network present in reservoir.py to compute, for a single image, the output probabilities associated to each class.
First of all, i perform the training of the network and then i save the weights and the state of the network with:

 torch.save(model.state_dict(), 'weights_res.pkl')
 network.save('Network.pt')

Hence, i comment the code relative to the training phase a

[2019-02-18 15:34] djsaunde commented on #195
Could you send me your code? I could take a look at it.

[2019-02-18 19:08] djsaunde commented on #184
How are we going to fix this? Do we need `normalize_by_max` / `normalize_by_max_from_shadow_weights`? Can these be implemented in individual experiments scripts rather than at the repo level? @Hananel-Hazan

[2019-02-19 09:30] #195 closed

[2019-02-22 07:51] AratorField opened #197 "supervised_mnist.py error"
I have built library from source.
When running `python supervised_mnist.py --gpu` I am getting following error.

[2019-02-22 16:07] #197 closed

[2019-02-22 18:49] djsaunde commented on #197
Hi @AratorField,

I pushed a fix to this to master. Let me know if you have any more problems.

[2019-02-28 03:56] amolk opened #200 "minimal_mnist.py results in AttributeError: 'numpy.ndarray' object has no attribute 'cpu'"
On fresh setup, I get an error when running minimal_mnist example

[code]

[2019-02-28 03:57] amolk commented on #200
I'll investigate and create a PR

[2019-02-28 05:54] amolk commented on #200
@Hananel-Hazan Can you please give me access to create a PR?

[2019-02-28 09:06] vankhoa21991 opened #201 "RuntimeError: Expected object of scalar type Long but got scalar type Float for argument #2 'mat2'"
Hello, I ran the minimal_reservoir.py and got this error:
Loading training images from serialized object file.

Loading training labels from serialized object file.

Train progress: (50 / 500)
Train progress: (100 / 500)
Train progress: (150 / 500)
Train progress: (200 / 500)
Train progress: (250 / 500)
Train progress: (300 / 500)
Train progress: (350 / 500)
Train progress: (400 / 500)
Train progr

[2019-02-28 13:38] rachmadvwp opened #202 "How to use the rank_order encoding"
Hi,
I'd like to ask, how to use the rank-order encoding.
I tried to use it for some network models, e.g., eth_mnist with the following lines of codes:

However, it gave me the following error:

What should I do to fix this?
Thanks in advance

Best regards

[2019-02-28 15:18] djsaunde commented on #202
I made a PR (#203) to fix this. Please let us know if you have any other problems.

[2019-02-28 15:33] djsaunde commented on #201
Hi @vankhoa21991, I fixed the bug in PR #203. Let me know if you have more issues.

[2019-02-28 15:35] djsaunde commented on #200
You should be able to create a PR without any special access.

[2019-02-28 15:58] rachmadvwp commented on #202
I made changes like what PR(#203) show, but the problem remains the same. Do I miss something or some steps? Thanks in advance.
Best regards

[2019-02-28 16:19] djsaunde commented on #202
Hm, did you install the package in editable mode (`pip install -e .` in the root directory)? Changing [this line](https://github.com/Hananel-Hazan/bindsnet/blob/8fc94c6188856666b7721e0934f835e1f34a6af9/bindsnet/encoding/__init__.py#L173) to `assert (datum >= 0).all(), 'Inputs must be non-negative'` should fix the error.

[2019-02-28 16:37] Huizerd opened #204 "Reward is not actually accumulated"
https://github.com/Hananel-Hazan/bindsnet/blob/e4ebfadc0d52f6356ed8356d595f7adb7f69f6ed/bindsnet/pipeline/__init__.py#L175

The obtained reward `self.reward` is not actually accumulated into `self.accumulated_reward`, causing it to remain zero (this shows when plotting reward).

[2019-02-28 16:40] rachmadvwp commented on #202
Now it is running fine. Thanks a lot for the help.
Best regards

[2019-02-28 17:04] djsaunde commented on #204
Can you add `self.accumulated_reward = 0` in the `Pipeline.reset()` function?

[2019-02-28 17:05] #202 closed

[2019-02-28 18:04] amolk commented on #200
@djsaunde Daniel, here's what I get when I try to push the branch. Maybe I am missing something trivial? -

[code]

[2019-02-28 18:35] djsaunde commented on #200
You should fork the project, make the changes, and then open the PR using the GitHub website

[2019-02-28 18:49] amolk commented on #200
Okay, that's it. Thanks.

[2019-03-01 06:19] Huizerd commented on #204
Ok, done!

[2019-03-01 14:16] #200 closed

[2019-03-01 14:16] #204 closed

[2019-03-01 14:16] #201 closed

[2019-03-03 01:58] zhouxzh opened #208 "cannot import name 'CurrentLIFNodes'"
I just install bindsnet with the lastest version from github.
But when I want to run the example LIFNodes vs. CurrentLIFNodes, I get the error "cannot import name 'CurrentLIFNodes'". Then I go the file nodes, I also cannot find out the object CurrentLIFNodes.
Have the object "CurrentLIFNodes" already been deleted?

[2019-03-03 16:14] Hananel-Hazan commented on #208
Thanks @zhouxzh , I restored the function.  #209

[2019-03-06 15:47] #208 closed

[2019-03-14 03:14] xhongtang commented on #73
Take the liberty of disturbing.
As I see that there seems to be a cifar10 data set in your project.Could i ask what the test results of this network on cifar10 are like?
I want to try out the effect of this network on cifar10.
Did you have ever had a test?

[2019-03-14 13:16] djsaunde commented on #73
Hi @xhongtang, we weren't able to get any good results with CIFAR-10. The best we got was a bit better than random (~10%). We have an example script [here](https://github.com/djsaunde/bindsnet_experiments/blob/master/experiments/cifar10/diehl_and_cook_2015.py) (it may not be working; let me know if not and I'll fix it).

[2019-03-14 21:30] alex153490 opened #210 "Bindsnet as Conda package"
It would be nice to have Bindsnet as Conda package in some channel. Currently I have PyTorch installation with Cond, but pip installation of Bindsnet is giving:
[code]

So - pip is not seeing packages installed by Conda.

I tried:
`conda install --channel "pypi" bindsnet`
but it said, that the package can not be found

[2019-03-15 13:22] Hananel-Hazan commented on #210
Thank you for using BindsNET.
pip and Conda are very different and the are isolated from each other. Therefore its seems that you need to install the requirements for BindsNET using pip

For more details using pip with Conda [link](https://www.anaconda.com/using-pip-in-a-conda-environment/)

In any case, at this moment we are not supporting Conda packages.
However, we will glad if you can make one

[2019-03-15 13:26] djsaunde commented on #210
Hi @alex153490, see [this SO post](https://stackoverflow.com/questions/41060382/using-pip-to-install-packages-to-anaconda-environment) for instructions on how to install packages with `pip` to a `conda` environment.

[2019-03-18 08:25] Huizerd opened #212 "Weight clamping ineffective"
`Connection` gives you the possibility of clamping your weights to a range `wmin`-`wmax`: https://github.com/Hananel-Hazan/bindsnet/blob/f640fb602c6b550b4c9858ee533848fc3c02f135/bindsnet/network/topology.py#L136

However, this clamping doesn't seem to be very effective, as it happens in the `super` call to `LearningRule`:
https://github.com/Hananel-Hazan/bindsnet/blob/f640fb602c6b550b4c9858ee53384

[2019-03-18 13:07] djsaunde commented on #212
@Huizerd good catch! I think the solution would be to put the call to `super().update()` at the end of the `LearningRule`s `update()`s.

[2019-03-19 07:09] Huizerd commented on #139
@djsaunde any progress on this? I'll start looking into it, because I'm working with pretty small networks and GPUs won't give you much of an advantage there. This seems to be the way to speed up in that case.

[2019-03-19 11:49] djsaunde commented on #139
@Huizerd nope, just an idea we had some time ago. I'm not sure that it will speed things up, but it might be worth a shot. Let me know if you need any help.

[2019-03-19 11:52] djsaunde commented on #139
Check out [this branch](https://github.com/Hananel-Hazan/bindsnet/tree/multiprocessing) for a start on the multiprocessing work (I'm pretty sure it fails as-is). It'll need to be fast-forwarded to the current state of the master branch.

[2019-03-19 14:09] Hananel-Hazan commented on #139
Another idea is to use [multiprocessing module](https://pytorch.org/docs/stable/notes/multiprocessing.html). But its for future plan and not for now.

[2019-03-19 14:44] #212 closed

[2019-03-22 10:23] Huizerd opened #217 "Implementation of MSTDP and MSTDPET"
I'm currently working on reward-modulated STDP, and noticed that there are some discrepancies between the Florian 2007 paper and your MSTDP(ET) implementation. This was already mentioned in #140 and fixed (it seems) in #141, however these changes were reverted in #165. Was this intentional? I was planning on fixing everything with some PRs, but if there are reasons why you wouldn't want the origin

[2019-03-22 16:02] djsaunde commented on #217
Yeah, we haven't really been able to get MSTDP or MSTDPET to work on anything, and we aren't actively working on it. If you can fix it and demonstrate that it works on some task, that would be a big win for anyone who wants to use BindsNET with reward-modulated learning rules.

[2019-03-26 07:12] Huizerd commented on #217
Ok so far I've managed to replicate Figure 1 from Florian 2007 (see https://gist.github.com/Huizerd/3dc3bfa79cfb721aea491b94dc04efa7). So the code for the learning rules seems to be right, at least. Now I'm replicating one of his experiments, however he uses connections between two layers of neurons where half of the weights are negatively bounded (inhibitory) and half of them are positively bound

[2019-03-26 13:08] Huizerd commented on #217
I implemented experiment 4.3 from the paper by R. Florian, see the code here: https://gist.github.com/Huizerd/9c794260e629613b66750043d583a1a2 and the modifications to BindsNET needed here: https://github.com/Hananel-Hazan/bindsnet/compare/master...Huizerd:mstdp. It resulted in the following learning curves:

![reward](https://user-images.githubusercontent.com/15855769/54999310-3e635580-4fd0-11e9-

[2019-03-26 13:34] djsaunde commented on #217
Really impressive work!

You can create two connections, one negatively bounded and the other positively bounded. You could also implement this feature within BindsNET: for each weight, include a `wmin` and `wmax` (instead of having a single, global `wmin`, `wmax` for the whole connection).

Yes, I think the correct MSTDP and MSTDPET algorithms would be an awesome addition to the library! Maybe cr

[2019-03-26 17:51] dee0512 commented on #217
Hi everyone,

Take a look at my branch devdhar-master.

https://github.com/Hananel-Hazan/bindsnet/blob/devdhar-master/examples/XOR/mstdp.py

I have made similar changes to MSTDP method. Not the MSTDP-ET method though. The wmin and wmax feature has been implemented in that branch.

https://github.com/Hananel-Hazan/bindsnet/commit/5e990f731a8fa33b9137616168951b11288acd7e
 @djsaunde Would you like me

[2019-03-27 12:55] djsaunde commented on #217
Since @Huizerd has fixes for both methods, I think a PR from his branch would be preferable. You could make a PR against his (once it's made) if you want to propose changes to his implementation.

[2019-03-27 14:53] dee0512 commented on #217
I meant the wmax wmin update since it is not done by @Huizerd  and would be easier for him to implement his experiments. In terms of implementing the experiments on Bindsnet there is also the question of handling the reward for each step. The reward can be different for each timestep. How are we planning to implement that? The fix I have is that I pass the desired output to the network.run functio

[2019-03-27 14:59] djsaunde commented on #217
I'm not sure what you mean by this, can you explain / link me to the implementation?

We could pass in a reference to a reward function. In the constructor of a reward-modulated learning rule, we could pass in a reward function that takes `(state, action)` pairs and maps them to a scalar reward. Is this similar to your approach? Could you link me to your code that implements this fix?

[2019-03-27 17:19] dee0512 commented on #217
In this commit:  https://github.com/Hananel-Hazan/bindsnet/commit/5e990f731a8fa33b9137616168951b11288acd7e

I have implemented what you said:

I have also modified the network.run to accept the desired output and calculate the reward based on that. Basically in the Florian experiments, reward is given when the output neuron either spikes or does not spike. Therefore, you can only know the reward w

[2019-03-27 18:06] djsaunde commented on #217
@dee0512 I made some comments on your commit, to help me understand some things.

[2019-03-27 18:07] Huizerd commented on #217
I think something like this is preferred, however a reward function that accepts `(state, action)` might not work well in all cases. The Gym environments, for example, have this reward function built in and only give back reward (so we should leave that as an option at least). For the case where someone creates a custom environment (without the Gym framework), they would need an action selection f

[2019-03-27 18:12] djsaunde commented on #217
Also, if we can't come up with a universal solution (so to speak), you could simply sub-class `Network` and re-define functions as-needed. This could be done on a per-experiment basis. E.g.:

[code]

[2019-03-27 18:29] Hananel-Hazan commented on #217
I don't see the problem by having two run methods. It should simplify the use, one for situation where the reward already been known (or simple inference) and other for RL learning where the reward been calculated base on the activity and desired output.

[2019-04-01 23:19] dee0512 opened #222 "Bug when wmin or wmx is none"
[this](https://github.com/Hananel-Hazan/bindsnet/blob/master/bindsnet/network/__init__.py#L204)
[code]

Please remove this. There is no need for this check. It is also adding computation every single timestep.

[2019-04-01 23:30] djsaunde commented on #222
I removed it in #219

[2019-04-01 23:31] #222 closed

[2019-04-02 11:08] #217 closed

[2019-04-03 07:29] Huizerd opened #224 "Reward prediction error instead of reward"
As suggested by [Fremaux et al. (2010)](http://www.jneurosci.org/content/30/40/13326.short), learning performance of reward-modulated STDP can be greatly enhanced by using 'reward prediction error' instead of actual reward in the computation of the new weights (`w += gamma * dt * reward * e_trace`). I tested this for a simple 1D navigation task, with the following result for non-RPE:

![final_rewa

[2019-04-03 13:18] djsaunde commented on #224
I think it would be good to have. I'm envisioning a new module (perhaps `bindsnet.reward` or `bindsnet.learning.reward`) that contains functions to this effect.

Are there other possible implementations of predicted reward? A moving average seems a bit simplistic, whereas you might want the network itself to predict the reward by, e.g., predicting it as a function of the history of its inputs.

On

[2019-04-03 13:19] djsaunde commented on #224
By the way, the plots you shared are really cool! Are they from experiments similar to those in the Fremaux paper?

[2019-04-03 16:00] Hananel-Hazan commented on #224
I think it would be cool if someone can decide for their own how they want to implement the predicted reward. So we might need the ability to pass a function to Pipeline / Network. This might also cover the reward features discussed in #217.

That could be great addition to the BindsNET framework.

[2019-04-04 10:14] Huizerd commented on #224
Ok, I have a non-working implementation on this branch: https://github.com/Huizerd/bindsnet/tree/reward.

I'm having some trouble with the use of (abstract) classes, and I hope you can see what's going wrong. For some reason, when `self.reward.compute` is called here
https://github.com/Huizerd/bindsnet/blob/d9913a6e105ac948eb97b380c367eb907c3d687c/bindsnet/network/__init__.py#L268

it overwrites `

[2019-04-04 13:16] djsaunde commented on #224
@Huizerd I'll look into this tonight.

[2019-04-05 14:37] djsaunde commented on #224
@Huizerd do you have a script that demonstrates the error?

[2019-04-05 18:21] Huizerd commented on #224
I have a minimal example here:

[code]

which resulted in `AttributeError: 'float' object has no attribute 'reward_predict'`.

[2019-04-08 13:06] djsaunde commented on #224
Okay, finally got around to looking at this. Looking at your `Network` constructor:

[code]

It expects `reward` to have type `AbstractPredictedReward`. However, you were passing in just the class `MovingAvgRPE`, not an instance of it: `MovingAvgRPE()`. It is never instantiated in the `Network` logic or before calling `Network.run()`. When I tried to instantiate `MovingAvgRPE`, I got an error beca

[2019-04-09 14:04] djsaunde opened #226 "Gitter chat room"
@Hananel-Hazan what do you think of creating a [Gitter](https://gitter.im) room for chatting with people who use BindsNET? It could be a good place for people to ask for help. Since you're the owner of the repo, I believe you're the only person who can create it.

[2019-04-09 14:51] sabriinan opened #227 "Value Error in network example"
Hello, I was trying to run the first example (poisson encoding) at [https://bindsnet-docs.readthedocs.io/bindsnet.network.html#module-bindsnet.network](url), and it gives this error:

[code]
when i look at `spikes[layers].shape`, it is `torch.Size([1, 100, 5000])`, i don't understand what the first axis is for?

Thank you!

[2019-04-09 15:06] djsaunde commented on #227
Hi @sabriinan, this can be fixed by changing `data = 15 * torch.rand(1, 100)` to `data = 15 * torch.rand(100)`. We'll make this change in the doc string.

[2019-04-09 15:06] #227 closed

[2019-04-09 18:52] dee0512 commented on #226
This would be helpful

[2019-04-09 22:00] Hananel-Hazan commented on #226
Done.
Gitter chat room is https://gitter.im/bindsnet_/community

[2019-04-09 22:00] djsaunde commented on #226
Thanks!

[2019-04-09 22:00] #226 closed

[2019-04-22 13:53] #224 closed

[2019-04-23 11:44] rachmadvwp opened #232 "Error when training on GPU: AttributeError: 'torch.dtype' object has no attribute 'type'"
Hi,
I'd like to ask.
I was trying to train the network for mnist in GPU. However, I got this error.

Do you know how to fix this?
Thanks

[2019-04-23 12:01] djsaunde commented on #232
I'm not able to reproduce this error on my machine. Could you send me the output of `pip list` on your machine?

[2019-04-23 12:05] rachmadvwp commented on #232
Here is the pip list
fyi: i'm a beginner on using GPU

Thanks

[2019-04-23 12:16] djsaunde commented on #232
Did you make any changes to `eth_mnist.py` before running it?

[2019-04-23 12:23] djsaunde commented on #232
There's a fix for this bug in the `master` branch; clone the repository and do `pip install -e .` in the top-most directory to install it. Or, I'll put together a new PyPI release soon, and you can wait for that. Or, change the print statements on lines 113-116 to:

[code]

[2019-04-23 12:40] rachmadvwp commented on #232
It works so far with the modified codes.
Thanks a lot for the help.

[2019-04-23 13:37] #232 closed

[2019-04-25 21:15] rachmadvwp opened #235 "How to reproduce the SOM SNN work"
Hi,
I'm interested on reproducing the SOM SNN work "Unsupervised Learning with Self-Organizing Spiking Neural Networks" https://doi.org/10.1109/IJCNN.2018.8489673. I'd like to know if the bindsnet already includes the codes to reproduce this work. If not, could you provide hints how to do that.
Apart from that, I'd like to ensure something since I'm new to python, i.e., if I'd like to do "test" ri

[2019-04-26 11:46] djsaunde commented on #235
Hi @rachmadvwp,

We wrote our code for that paper in [the BRIAN simulator](https://github.com/brian-team/brian2), which can be found [here](https://github.com/djsaunde/lm-snn). It's quite disorganized, though.

Something similar, however, can be found [in the BindsNET experiments repo](https://github.com/djsaunde/bindsnet_experiments/blob/master/experiments/mnist/increasing_inhibition.py). It migh

[2019-04-30 01:05] Hananel-Hazan commented on #235
Hi @rachmadvwp

Try to look on the `class IncreasingInhibitionNetwork(Network)` from [here](https://github.com/Hananel-Hazan/bindsnet/blob/cc45e290529b39db5050a9798ac849da140c8479/bindsnet/models/__init__.py#L165)

[2019-04-30 01:07] Hananel-Hazan opened #236 "ETH_MNIST is not working correctly"
Due to the decay change and possibly something else the ETH_MNIST in the example scripts is not working.
I tried to change the correct decay, but it didn't solve the issue (last commit on my branch)

[2019-04-30 18:43] #235 closed

[2019-05-01 13:09] rachmadvwp opened #238 "RuntimeError: expected type torch.cuda.FloatTensor but got torch.FloatTensor"
Hi,
Firstly, I'd like to say sorry since I wasn't able to reply the last thread that I created. But thanks for the answers, it was really helpful.
Now, I'd like to ask other thing. I tried to run cifar-10 on GPU, but I got this error.

I think it is a simple problem but since I'm still new to python, could you please help me to solve this fast. Thanks a lot for the help.
Best regards.

[2019-05-01 14:00] Hananel-Hazan commented on #236
Fixed thanks @djsaunde

[2019-05-01 14:00] #236 closed

[2019-05-01 14:03] Hananel-Hazan commented on #238
Hi @rachmadvwp
I run it now and it execute without an issue.
Please pull the last BindsNET code from master. There where couple of changes in the last builds.

[2019-05-01 16:04] djsaunde commented on #238
Hi @rachmadvwp,

No problem. By the way, you can still respond to threads on issues that have been closed.

PR #239 should fix your problem.

[2019-05-01 16:05] #189 closed

[2019-05-01 16:05] #184 closed

[2019-05-02 22:47] #238 closed

[2019-05-03 18:59] alexmaraval opened #241 "Testing an trained network"
Hi,

This is a follow-up question to [issue#73](https://github.com/Hananel-Hazan/bindsnet/issues/73) where the question about testing was asked.
I read the code from the [bindsnet_experiments](https://github.com/djsaunde/bindsnet_experiments/tree/master/experiments) and if I'm correct, testing is essentially
- presenting test data to a network identical to the trained one except that it has no upd

[2019-05-03 19:07] djsaunde commented on #241
Hi @alexmaraval,

There's no one "valid" way to test the network; what we did in the script you mentioned happened to work well for our use case / experiments. You're free to come up with your own methods of evaluating trained networks, which may or may not include learning (or other adaption) during the test phase.

Thanks! :smile:

[2019-05-05 16:22] k-chaney opened #242 "Shape of tensors during convolutions"
For Conv2dConnection, since it utilizes pytorch's conv2d operator it is inherently constrained by the same input expectations, which is BxCxHxW.

Inside of examples/mnist/conv_mnist.py the shape of the tensors go as follows
Line 120 - images has shape - torch.Size([60000, 28, 28])
Line 125 - images is fed to poisson_loader which effectively turns it into - torch.Size([60000, 50, 28, 28])
Line 147

[2019-05-06 13:13] djsaunde commented on #242
Yeah, I think this is a reasonable thing to do. It might make sense to directly leverage `torchvision.datasets` (instead of `bindsnet.datasets`; or `bindsnet.datasets` would lightly wrap it?) so we no longer have to maintain things like MNIST, CIFAR-10, etc. and benefit from datasets they support which we currently do not.

[2019-05-06 18:40] #241 closed

[2019-05-08 21:00] djsaunde opened #245 "Minibatch processing"
Minibatching data in artificial neural network training / inference allows for vast speedups in computation time and reductions in variance of parameter updates. Minibatching in spiking neural networks is inherently more complicated because spiking neurons maintain state (voltages, spikes traces, etc.).

We may be able to implement mini-batching by duplicating neurons at the start of each simulati

[2019-05-08 21:01] djsaunde commented on #245
@k-chaney This may interest you.

[2019-05-08 21:12] k-chaney commented on #245
This looks very interesting. I was thinking about this a little bit already. I need to read the `bindsnet.learning` module more closely to figure out what has to change there. Are there any other sticking points?

[2019-05-08 21:23] djsaunde commented on #245
Hard to say. I think it will be relatively straightforward to implement, especially since we can borrow from PyTorch.

I think there are some conceptual issues:

- How to update adaptive neuron parameters, e.g., neurons' adaptive thresholds? Take average or sum of updates across batch dimension (average makes intuitive sense to me)?
- If we run two simulations back-to-back without resetting in bet

[2019-05-13 08:16] chatterboy opened #246 "When this line in a code is working on?"
Hello, I got something weird when I am looking at the code. It is a part of `Poisson` method in [bindsnet/bindsnet/encoding/__init__.py](https://github.com/Hananel-Hazan/bindsnet/blob/master/bindsnet/encoding/__init__.py#L104). The line is written such as `intervals[:, datum != 0] += (intervals[:, datum != 0] == 0).float()`. I don't understand It is working properly.

Thank you.

[2019-05-14 17:41] rachmadvwp commented on #235
Hi @djsaunde

I'm sorry but I'm still not clear with the steps.
Are you saying that by setting `network.learning = False`, the simulation will be doing "training" and followed by "test" subsequently? Or I have to do separate things, "training" first, save the models in some files (freezing the parameters) and read it back for "test" phase?

Is `network.learning = False` the one in the [bindsnet\ne

[2019-05-15 19:01] rachmadvwp opened #248 "Storing the trained network parameters"
Hi,

I was trying to simulate the training and testing subsequently using [this](https://github.com/djsaunde/bindsnet_experiments/blob/master/experiments/mnist/diehl_and_cook_2015.py) from BindsNET experiments repo.
However, I couldn't find the file that stores the trained network parameters. Could you please help me to identify which file used for storing the parameters? It should be in *.pt righ

[2019-05-15 19:09] djsaunde commented on #248
You can store it using any file name. I use *.pt to follow PyTorch convention but it doesn't matter either way.

[2019-05-15 19:14] rachmadvwp commented on #248
My problem is I couldn't find *.pt that the training is supposed to generate.
If I use the default setting, as follows

I should get the file generated under /experiments/params folder right?

[2019-05-15 19:45] djsaunde commented on #248
Yes, that's right. Is `bindsnet.network.Network.save` being called anywhere? Can you confirm it gets called? Might also help to print out the path where the parameters are being saved to double check.

[2019-05-15 20:09] rachmadvwp commented on #248
I don't think so. Because I just used the default [file](https://github.com/djsaunde/bindsnet_experiments/blob/master/experiments/mnist/diehl_and_cook_2015.py). I was thinking it should be handled by line [172](https://github.com/djsaunde/bindsnet_experiments/blob/master/experiments/mnist/diehl_and_cook_2015.py#L172).
`network.save(os.path.join(params_path, model_name + '.pt'))`.

[2019-05-15 21:01] Hananel-Hazan commented on #248
Right, that will save the network object with all the parameters that include in the network object.

[2019-05-15 21:19] rachmadvwp commented on #248
it is strange since I couldn't find the generated file.
Could you please confirm, if I just use the default example without changing anything,, will the parameters file be stored under /experiments/params folder? Or it is supposed to be somewhere else? If so, where should it be? Thanks a lot for the help

[2019-05-15 22:50] Hananel-Hazan commented on #248
Currently, this code is not compatible with the new version of BindsNET. It need to be adapted to the current changes.
I confirm that if you install commit `3dd609f500f377e57aae29e932e62ebd26801ac0` and comment the line number 20 and add this line under 20
`ROOT_DIR = 'test'`

When you run the code, it will save the files under your current path under new directory listed in `ROOT_DIR `

[code]

[2019-05-16 08:40] rachmadvwp commented on #248
Unfortunately i couldn't find this commit on "https://github.com/djsaunde/bindsnet_experiments/commit/3dd609f500f377e57aae29e932e62ebd26801ac0". Is the number correct?

[2019-05-16 08:53] rachmadvwp commented on #248
It is running now. Let's see the final results later.
Another thing that remains, if the training is done,, we just need to change the mode to the testing phase without any changes on the setting or we still need to set the `network.learning = False` in [here](https://github.com/Hananel-Hazan/bindsnet/blob/4021360cc0f715947bf6dc3f7effab003141cb4c/bindsnet/network/__init__.py#L27)?

Many thanks

[2019-05-16 11:27] djsaunde commented on #248
Changing the mode to test in the script will 1) load the network from disk, and 2) disable the learning rule and freeze the adaptive thresholds. Setting network.learning = False will only disable the learning rule. So, it's up to you, and what you want to do for the test phase.

[2019-05-16 11:28] djsaunde commented on #248
An easy way to debug these kinds of scripts is to run shorter train / test phases, to get the result quicker. Try running with 500 train, 500 test, so you can quickly tell whether the save / load functions are working.

[2019-05-16 12:01] rachmadvwp commented on #248
OK thanks a lot for the help.
I'll close the issue for now and might re-open it if needed.

[2019-05-17 15:35] Hananel-Hazan commented on #246
Can you please elaborate why its not working properly?

[2019-05-22 15:22] k-chaney commented on #160
@sharath @djsaunde Has there been any movement on this? If not it is something I can crank out rev 1 of this week. I will probably first look into subclassing `torch.nn.Module` as it would provide the most functionality for the least work. Some benefits to exploit out of the box:

1) `.to(device)` will allow for management of devices directly
2) saving of Networks and `torch.nn.Module`s together (

[2019-05-22 15:25] Hananel-Hazan commented on #242
Merged #243

[2019-05-22 15:25] #242 closed

[2019-05-22 15:37] djsaunde commented on #160
@k-chaney it'd be great if you could take a look at this. I think the preferred approach is having `Nodes`, `Connection`s, and `Network` objects subclass `torch.nn.Module`, like you said.

[2019-05-22 15:37] Hananel-Hazan commented on #160
I think @sharath will be occupied this week.
Feel free to start on it.

[2019-05-22 17:36] Hananel-Hazan opened #251 "Possible future addition to the Reinforcement Learning rules and examples"
This seem to be a nice addition for the collection of reinforcement learning and examples that we already have in BindsNET
SPORE (Synaptic Plasticity with Online Reinforcement learning) [link](https://github.com/IGITUGraz/spore-nest-module)

[2019-05-22 17:37] #246 closed

[2019-05-22 20:44] djsaunde opened #252 "__getitem__ outputs should support integer indexing"
https://github.com/Hananel-Hazan/bindsnet/blob/009a8024beb468c41bd8b00bdaa8a913da2391a7/bindsnet/datasets/spoken_mnist.py#L78

See https://pytorch.org/docs/stable/_modules/torch/utils/data/dataset.html#Dataset.

CC @k-chaney

[2019-05-22 20:47] djsaunde commented on #252
Sorry, didn't make sense. Though, should we return tuples instead of dictionaries with `__getitem__`? How does `torch` do this?

[2019-05-22 20:56] k-chaney commented on #252
`torch` handles all of this under the hood inside of their `torch.utils.data._utils.collate.default_collate` function (it's something close to that extension here's the url https://github.com/pytorch/pytorch/blob/master/torch/utils/data/_utils/collate.py). It is able to deal with any standard container that is returned tuple, dict, list, etc. All that is required is the same container from each of

[2019-05-22 20:57] #252 closed

[2019-05-23 19:04] Hananel-Hazan opened #254 "Encoder in environment.GymEnvironment"
Trying to use environment.GymEnvironment in BindsNET without encoder lead to a error in loading.

@k-chaney, I think encoder should be an option not mandatory.

[2019-05-23 19:09] Hananel-Hazan commented on #254
#255

[2019-05-23 19:09] djsaunde commented on #254
Yeah, @k-chaney, is it possible to default to `NullEncoder`?

By the way, I think spike_encoders.py should be kept in the `bindsnet/encoders/` folder, and I think it'd be best if you put all the `Encoder` classes in `bindsnet/encoders/__init__.py`.

[2019-05-23 20:24] Hananel-Hazan commented on #254
I think that by default if encoder, or image_encoder and label_encoder need to be set to NullEncoder

That can solve the issue and my commit need to be cancel

[2019-05-24 06:51] WongyuLee1729 opened #256 "DiehlAndCook2015 testing"
In the MNIST example, DiehlAndCook2015, I finished training and saved for testing.
Now, I called the network for testing and turned off the learning.
However, when I check the theta and weight in layers['Ae' ],  I noticed that those two constantly changes every time I run the code.

below is how I turned off the STDP (postpre), the learning method.

network = load_network('trained_data') #loaded t

[2019-05-27 19:39] k-chaney commented on #254
Sorry about the delay, I've been diving into the other feature I'm working on. This seems like a reasonable change. I just pushed a branch `chaney/gym_env_encoder_fix` that deals with this as described.

1) Do we want the encoders to be in their own module or should we leverage the encodings module that already exists?
2) For the `GymEnvironment` the encoder default is `NullEncoder`.
3) For the `t

[2019-05-27 21:10] Hananel-Hazan commented on #256
Thank you for bring this to our attention.
I'll check it more deeply later on.

But for now, the easy solution is, after loading, use clone of the network object for every test.

[2019-05-28 00:01] Hananel-Hazan commented on #254
Thanks @k-chaney.
Yes, leveraging the encoder module is preferred. 2 and 3 look good.

[2019-05-28 14:21] djsaunde commented on #256
@WongyuLee1729 to turn off the theta adaptation manually, set `network.layers['Ae'].theta_plus = 0` and `network.layers['Ae'].theta_decay = 0`.

@Hananel-Hazan it probably makes sense to turn off theta adaption (adaptive threshold) as part of `network.learning = False`. I can implement this.

[2019-05-28 14:33] WongyuLee1729 commented on #256
@Hananel-Hazan
@djsaunde
I already figure that out. check out my code below.

You may also want to check spike_record for testing. That is,

spike_record[i % update_interval] = spikes['Ae'].get('s').t()

if you plot voltage monitor, it does not match to it.
I also figure that out though.

# ==================================================================
# turn off STDP & theta value
w = network

[2019-05-28 15:15] djsaunde commented on #254
Yeah, I think should keep both the functional and class interfaces to the encodings in `bindsnet/encoding/__init__.py`.

[2019-05-28 17:07] djsaunde commented on #256
Here's a small example demonstrating that weight changes are disabled by setting loading the network with `learning=False`:

[code]

[2019-05-28 21:30] djsaunde commented on #256
#259 disables adaptive thresholds when `network.learning = False`.

[2019-05-28 21:30] #256 closed

[2019-05-28 21:35] djsaunde opened #262 "BindsNET guide / manual"
Creating an issue for this to let everyone know that a detailed user manual is a work-in-progress as of this week. It will be hosted on BindsNET's [readthedocs](https://bindsnet-docs.readthedocs.io/), alongside the package reference.

[2019-05-29 13:17] rachmadvwp opened #263 "Queries on learning rule scripts"
Hi,
I'd like to ask about the following scripts in PostPre learning rule.
In the connection update, there are scripts:
[code]
I just don't get what the 's' and 'x' mean here? Could you plesae let me know what they represent?
Because it is important to understand the following parts: `torch.ger(source_s, target_x)` and `torch.ger(source_x, target_s)`.

Thanks a lot.
Best regards

[2019-05-29 14:40] djsaunde commented on #263
Hi @rachmadvwp,

's' refers to spikes, and 'x' refers to _spike traces_, which keeps a decaying history of the most recent spike, implemented as a exponentially decaying quantity which is set to 1 when a spike occurs.

`torch.ger(source_s, target_x)` computes the outer product between spikes in the "source" layer (from which the connection originates) and the spikes traces in the "target" layer (t

[2019-05-29 14:55] rachmadvwp commented on #263
I know the STDP and the mechanism which is supposed to be implemented in the code.
Since I'm still learning python, I just wanted to ensure whether my guess was correct.
Thanks for the answer, it is really helpful.

[2019-05-29 15:51] k-chaney commented on #254
Just pushed some changes to fix 1. I'll submit a pull request.

[2019-05-29 22:21] k-chaney commented on #160
@djsaunde so I've put some initial work into this. I need to check why the tests are failing on the build server. However, this should give you an initial look into how it could work. Almost everything utilizes the buffer functionality in `torch.nn.Module`, except for the weights and biases which are Parameters without gradients. I haven't migrated the Network to inherit from `torch.nn.Module` yet

[2019-05-30 19:30] 4iar opened #265 "Trouble learning"
This is an extremely cool project!

I am having trouble getting the network to learn tasks though.

To get started with the package (v0.2.4), I tried throwing some OpenAI gyms at it. I used the [breakout_stdp.py](https://github.com/Hananel-Hazan/bindsnet/blob/0.2.4/examples/breakout/breakout_stdp.py) example script and changed the environment from 'BreakoutDeterministic-v4' to 'CartPole-v0', then

[2019-05-30 19:48] Huizerd commented on #265
How did you encode the state of the environment into spikes for the network to process? You need a way to allow the network to distinguish between different states. One way of doing this is using so-called place or grid cells, which also happen to be [present]{https://www.quantamagazine.org/the-brain-maps-out-ideas-and-memories-like-spaces-20190114/} in animal brains. The core idea is that you nee

[2019-05-30 21:08] djsaunde commented on #265
@4iar We (the BINDS lab) haven't managed to get SNNs to learn any interesting in OpenAI gym environments. Reinforcement learning with SNNs is a rather open research question! We did manage to convert trained artificial neural networks to SNNs while maintaining performance on Breakout, however ([link](https://arxiv.org/abs/1903.11012)). I would suggest getting familiar with RL, and seeing whether i

[2019-05-31 10:50] rachmadvwp commented on #263
Hi @djsaunde
I was trying to do training using codes from the experiment repo on gpu.
However, I got this following error:

Traceback (most recent call last):
  File "diehl_and_cook_2015.py", line 354, in <module>
    main(**args)
  File "diehl_and_cook_2015.py", line 258, in main
    print('\t%s: %.2f' % (scheme, float(np.mean(curves[scheme]))))
  File "/anaconda3/envs/BindsNET/lib/python3.7/site

[2019-05-31 14:08] djsaunde commented on #160
Great! The code changes look good so far. Do you think it will have any impact on runtime performance? What exactly does `register_buffer` do?

One thing I'm a little wary of is migrating the `Network` code to `bindsnet.network.network`; that seems a little redundant, and it might be better to keep it in the `__init__.py` file. Unless there's a good reason not to?

It may be interesting to optiona

[2019-05-31 14:12] djsaunde commented on #263
Hi @rachmadvwp, the `bindsnet-experiments` repo is not really being maintained at the moment. I'm using the `master` branch of BindsNET right now, and I'm getting a different error on the `diehl_and_cook_2015.py` script.

From the stack trace:

it looks like `curves[scheme]` is a `torch.Tensor` object, whereas `np.mean(...)` expects a `np.ndarray`. So, the fix should be to cast curves[scheme] to a

[2019-05-31 14:25] k-chaney commented on #160
`register_buffer` just registers a tensor to be tracked by pytorch to help with `to()` and `state_dict()`, so there's no real performance hit here.

The only reason would be to keep `__init__.py` as strictly management of the submodule, which is traditionally what I've kept `__init__.py` for. This would be more philosophy of design for bindsnet than anything else.

I think this would be a good fea

[2019-05-31 14:28] k-chaney commented on #160
@djsaunde what's the best way to look at the travis log? All of the tests pass for me locally.

[2019-05-31 15:08] rachmadvwp commented on #263
Oh okay. I'll try to refine towards that direction. Thanks for the help. I'll close the issue for now.

[2019-05-31 15:14] #265 closed

[2019-05-31 18:08] #254 closed

[2019-05-31 21:29] k-chaney commented on #160
This has been initially completed in #266

[2019-05-31 21:29] #160 closed

[2019-05-31 21:42] k-chaney opened #267 "TensorboardX Logging"
This functionality would mirror the matplotlib functionality that has been built out thus far. From my experience, it is far easier to log and view the logs using tensorboard vs matplotlib when running many experiments. In the `bindsnet.pipeline` setup, we would provide another `bindsnet.pipeline.PipelineAnalyzer` so it would be swappable with the `MatplotlibAnalyzer`.

@djsaunde Should these comp

[2019-05-31 21:53] djsaunde commented on #267
Yup, `bindsnet.analysis` would probably be a better home. Having tensorboard plots would be great; it's been on my radar for a while, but I don't have much time to work on BindsNET these days.

[2019-06-02 04:07] 666DZY666 opened #268 ""dataset = MNIST('data/mnist', download=True)" is wrong?"
TypeError: __init__() missing 1 required positional argument: 'label_encoder'?

when I give "None" for encoder,
and this "images, labels = dataset.get_train()",
AttributeError: 'torchvision_dataset_wrapper' object has no attribute 'get_train'?

[2019-06-02 12:44] Hananel-Hazan commented on #268
There have been a few major PR lately that may have broken some things. This is one of them.
Please use BindsNET version 0.2.2 for the time being until we finish fixing the examples for the new changes.

[2019-06-04 07:20] 666DZY666 commented on #268
Thanks~

[2019-06-04 20:56] djsaunde commented on #268
The datasets API has changed. It should still work, though. See for example [this script](https://github.com/Hananel-Hazan/bindsnet/blob/master/examples/mnist/minimal_mnist.py).

[2019-06-04 20:56] #268 closed

[2019-06-05 10:55] 4iar commented on #265
Thanks for the super helpful replies and papers @Huizerd and @djsaunde!

I also saw a CartPole example in PR #269 that implements place cells, which is really useful!

What's the best way to get started with training an ANN and converting it to an SNN on my own tasks? I saw a few scripts in the experiments repo [bindsnet_experiments/experiments/conversion](https://github.com/djsaunde/bindsnet_expe

[2019-06-05 14:02] djsaunde commented on #265
Hi @4iar,

No problem. The [bindsnet/conversion module](https://github.com/Hananel-Hazan/bindsnet/blob/master/bindsnet/conversion/__init__.py) contains code for converting PyTorch ANNs with only ReLU activations to SNNs. The networks that result from the conversion can then be used to do the same task that the PyTorch ANN was trained to do, typically with little loss in performance.

[This script]

[2019-06-05 15:35] k-chaney commented on #267
I have an initial set of components ready for this in `chaneyk/tensorboardX`. The primary awkward thing is the height of image for the spike trains (and voltages) inside of tensorboard.

[2019-06-06 16:44] 4iar commented on #265
Awesome, cheers @djsaunde!

[2019-06-10 04:06] sharath opened #279 "eth_mnist with --plot is broken"
[code]

[2019-06-10 16:20] djsaunde commented on #279
@coopersigrist Could you take a look at this?

[2019-06-11 02:36] rachmadvwp commented on #263
Hi @djsaunde
I´d Iike to ask,, if I want to capture whenever the pre- and postś-spike happen, how can i do that? Any function that can be used for it? I want to use it in the if condition like `if ( pre- or post-śpike ) :`.
Thanks in advance.

[2019-06-11 14:57] djsaunde commented on #263
Hi @rachmadvwp,

You could define a new learning rule which does this. Take a look at e.g. the [PostPre learning rule](https://github.com/Hananel-Hazan/bindsnet/blob/291eb3e5c2736d7f8842c820dfe41fbdc2fe10d7/bindsnet/learning/__init__.py#L112). A new learning rule can be custom-defined like:

[code]
Something like that. Just fill in your custom code. Let me know if you have any other questions.

[2019-06-11 15:00] #267 closed

[2019-06-11 15:07] rachmadvwp commented on #263
I think these scripts `self.source.s.any()` or `self.target.s.any()` are what I'm looking for.
Because I was trying to find a function that can inform me whenever the spikes happen.
I'll try them out and close the issue at the moment. Thanks a lot.

[2019-06-11 16:00] rachmadvwp commented on #263
Hi @djsaunde
How long is the timing window for trace the traces in the following scripts in the [PostPre](https://github.com/Hananel-Hazan/bindsnet/blob/291eb3e5c2736d7f8842c820dfe41fbdc2fe10d7/bindsnet/learning/__init__.py#L112) rule?
[code]

Actually, I'd like to make a custom spike trace like the ones which can be called like above scripts.
How can I define that, especially defining the time wi

[2019-06-11 16:05] djsaunde commented on #263
Hi @rachmadvwp,

Spike traces are implemented at the [neuron level](https://github.com/Hananel-Hazan/bindsnet/blob/36dcb2610f4f76369c0bd89ea92d2c4ddae42201/bindsnet/network/nodes.py#L92). You can set a layer's spike trace time constant by passing in a custom value for `tc_trace` (short for _trace time constant_). For example:

[2019-06-11 16:12] rachmadvwp commented on #263
Oh, so it was defined in the neuron level. I'll look into that and see whether I need to create the custom ones or no. Thanks so much

[2019-06-13 16:27] #279 closed

[2019-06-13 22:09] gpandrade opened #282 "Trouble with --plot in examples"
Hey y'all! Hope you're doing well.

I just noticed while trying to run the conv_mnist and eth_mnist examples that --plot seems to break things.

The error is:
OMP: Error #15: Initializing libiomp5.dylib, but found libomp.dylib already initialized.
OMP: Hint This means that multiple copies of the OpenMP runtime have been linked into the program. That is dangerous, since it can degrade performance o

[2019-06-13 22:15] gpandrade commented on #282
pip list output:

Package                            Version  Location
---------------------------------- -------- ----------------------------------------
alabaster                          0.7.12
anaconda-client                    1.7.2
anaconda-navigator                 1.9.7
anaconda-project                   0.8.2
appnope                            0.1.0
appscript                          1.0

[2019-06-14 01:39] rachmadvwp commented on #263
Hi @djsaunde
Can we make use of the timing information in simulation, to bound a specific period of spike activity? I was thinking something like `if (time period x ms): monitor # spikes`. Thanks in advance

[2019-06-14 14:31] Hananel-Hazan commented on #282
There have been a few major PR lately that may have broken some things. This could be one of them.
Please use BindsNET version 0.2.2 for the time being until we finish fixing the examples for the new changes.

[2019-06-14 14:33] djsaunde commented on #282
According to personal communcation, the error is fixed when setting `KMP_DUPLICATE_LIB_OK=TRUE` as recommended by the error message.

[2019-06-14 14:33] #282 closed

[2019-06-14 15:02] djsaunde commented on #282
Related: https://github.com/dmlc/xgboost/issues/1715. The error appears to be specific to MacOS, and seems to originate from `matplotlib`. One solution is:

[code]

Another solution may be to issue `conda install nomkl`.

[2019-06-14 18:18] djsaunde commented on #263
If you want to record state variables during simulation, you can use a `Monitor`, and set the `time` argument in the constructor equal to how many time steps you want to record activity for. The `Monitor` object will then record the most recent `time` steps in simulation. Is that what you're looking for?

[2019-06-14 18:47] rachmadvwp commented on #263
I'm not sure, it could be. I just wanted to monitor the spike activity within a specific time duration, e.g., to monitor # post-spikes within 100 ms. Can we just use the `Monitor` function for this?

[2019-06-14 18:54] djsaunde commented on #263
Yes, you can, although a `Monitor` is an object, not a function. Looking at the `record` function of the `Monitor` object:

[code]
If `time` is defined, then during simulation, the values of recorded state variables from the last `time` steps are recorded.

[2019-06-14 19:02] rachmadvwp commented on #263
I'll look and try it out first. Thanks a lot for the help

[2019-06-20 19:09] Huizerd opened #285 "Order of things in EnvironmentPipeline"
So I'm currently wondering whether there is something inherently wrong with the order of things happening in the `EnvironmentPipeline`, which is meant for RL problems.

In RL, one step usually looks as follows: after the agent has taken an action `a`, we get back a reward `R` and a new state `s'`, and we update our action-value function `Q(s, a)` based on the reward. In case of function approximat

[2019-06-20 19:20] djsaunde commented on #285
Yeah, you're right. `env.step` should return `next_state` (or `next_obs`, if you will).

The former makes more sense to me (the latter is just the former moved forward in time one step, right?). How would you implement it?

[2019-06-20 19:24] djsaunde commented on #245
Update: I have a working prototype of this. There are some bugs and design issues to figure out, but I have a simple example working.

[2019-06-20 19:26] Hananel-Hazan commented on #285
We had some discussion on the order of operations in the context of RL, that why I'm pinging @dee0512 to fill us in if he add some progress on that.

[2019-06-20 20:21] Huizerd commented on #285
Yes!

I was thinking we could create separate network functions for the forward pass and the updating of weights (both called by `network.run()`), so there is an option to customize for the `EnvironmentPipeline`, while not breaking everything else

[2019-06-21 16:53] Hananel-Hazan commented on #285
Also, we could overload `network.run()' with that functionality. In fact we discuss that with @dee0512 that currently busy, but I suggest to wait for his response

[2019-06-24 10:02] dee0512 commented on #285
Hi everyone,

Sorry for the late reply. I have been busy. So here is my input:

The following line is standard for an RL environment (Reward is received after the action is done).:

` obs, reward, done, info = self.env.step(self.action) `

However, if we assume that the network runs on the new input for some time, say 100ms, then the input is pushed through the network 100 times and the weights ar

[2019-06-24 13:59] djsaunde commented on #245
Work is in progress on https://github.com/Hananel-Hazan/bindsnet/tree/batching.

[2019-06-24 15:14] Huizerd commented on #285
Ok, so I think @dee0512's first scenario

is the closest to what I'm getting at. To put it in more formal steps (the way it is implemented in `EnvironmentPipeline` right now):
1. You have a `state = initial_state` (internal to the environment)
2. We (randomly) choose some `action`, because there currently aren't any output layer spikes in `Network`
3. Based on `action` (and the environment's inter

[2019-06-24 15:31] dee0512 commented on #285
If by pushing the weights once you mean running only 1 iteration of forward pass (1ms), then it would result in very low/no activity in the network (depending on the weights and threshold).

In either case, if the weights are to be updated after the network.run loop, you can update manually after the network.run function call with the reward. The weight update in the network.run loop is for updati

[2019-06-24 15:44] Hananel-Hazan commented on #285
Because we are combining standard RL methods and spiking neurons, I think it deserve a compromise. Where standard neurons get almost immediately influence from the input, spiking neurons need some iteration to get the effect.
Maybe we need yet another input/update ratio that will be in the pipeline. With this “learning constant” we feed the input and the (reward multiply by the ratio) to spread th

[2019-06-24 16:06] k-chaney commented on #245
I'll look into this branch. I just got back from CVPR which occupied my time completely last week.

[2019-06-24 16:24] djsaunde commented on #245
Cool, I've implemented `batch_eth_mnist.py` and `batch_conv_mnist.py` as simple examples. Otherwise, there's some work left to do to fix some bugs.

[2019-06-24 17:11] k-chaney opened #287 "Look into slayer integration"
Slayer recently got ported to pytorch and is their official implementation at this point. It would be good to look into getting their functionality integrated as it would open up a lot of doors.

https://github.com/bamsumit/slayerPytorch

[2019-06-25 07:34] Huizerd commented on #285
I actually do one pass of 10ms, but yes, activity depends on weights/thresholds.

Do you mean setting `learning = False` and calling `Connection.update()` with `reward` outside the `Network.run()`?

Ok, I see where you're coming from. In any case, I'll see whether I can make `Network.run()` modular in a way that is beneficial for all, without breaking/slowing anything, and create a PR for that.

[2019-06-25 17:26] dee0512 commented on #285
I do. Since different RL solutions require different ways of updating weights. But if there is another way of doing it without removing the current update method, then we can think about it.

I agree that making the network.run modular would be the first step.

[2019-06-27 15:15] djsaunde opened #290 "Synaptic currents"
Currently, we implement synapses without their own dynamics. Inputs to a layer are computed by left-multiplying a vector of pre-synaptic spikes against a synapse weight matrix. However, synapse currents often follow temporal dynamics, such as exponential decay.

We can think of the current implementation as using temporal decay with positive infinity as the time constant (`tau = np.inf`). We can g

[2019-06-27 17:29] Hananel-Hazan commented on #290
Yes, you are right. We need to discuss how the dynamic synapse can interact with minibatch.

We do however a [weights decay](https://github.com/Hananel-Hazan/bindsnet/blob/ac6cd40aae56c175e8229788af9b888895967c38/bindsnet/network/topology.py#L24) that also need to be address with the minibatch

[2019-06-27 20:33] djsaunde commented on #290
Weight decay is not affected by simulation (it's set, constant, in advance), so there's no need for anything to change when the using minibatching.

Also, I've realized a way to implement exponentially decaying synaptic currents without needing to duplicate weights across the minibatch dimension. I'll implement it when I get a chance.

[2019-06-28 08:16] rachmadvwp commented on #263
Hi @djsaunde
I'm looking into the learning rate, but I couldn't find in which segment of codes, the learning rate is being used for computation? I was looking into [this section](https://github.com/Hananel-Hazan/bindsnet/blob/master/bindsnet/network/topology.py#L158), but I couldn't understand how the value of the learning rate is being used here. Could you please explain that?
Thanks a lot and be

[2019-06-28 08:20] Huizerd commented on #263
It’s in the `LearningRule.update()` functions, are for example here:
https://github.com/Hananel-Hazan/bindsnet/blob/ac6cd40aae56c175e8229788af9b888895967c38/bindsnet/learning/__init__.py#L203

[2019-06-28 08:33] rachmadvwp commented on #263
Ah, yeah... sorry, apparently I mixed up. What I wanted to ask is about the learning rate decay & weight decay

[2019-06-28 08:37] Huizerd commented on #263
No worries! Weight decay happens in the `super.update()` of each learning rule:
https://github.com/Hananel-Hazan/bindsnet/blob/ac6cd40aae56c175e8229788af9b888895967c38/bindsnet/learning/__init__.py#L76

And I think that as of now, no learning rate decay is implemented. You might open a pull request though if you think you have a suitable approach for this!

[2019-06-28 08:51] rachmadvwp commented on #263
Okay, thanks a lot for the help

[2019-06-28 12:53] djsaunde commented on #263
You may implement your own weight decay by periodically multiplying the `nu` parameters of your `LearningRule` during training. E.g., see [this line of this script](https://github.com/djsaunde/bindsnet_experiments/blob/494f03ca80ff71692d03515e31b18df4ba774f2b/experiments/mnist/crop_locally_connected.py#L168).

[2019-06-28 12:55] djsaunde opened #291 "Learning rate decay"
We've no in-library implementation of learning rate decay. It could be implemented similarly to weight decay in `Connection` objects, but in `LearningRule` objects, operating on `nu`.

[2019-06-28 14:04] WongyuLee1729 opened #292 "connecting neurons within a layer"
Hello, I'm just wondering if there is any way to connect neurons in a layer once after we set the layer.
i.e. set a layer of neurons, say 100 neurons in the layer, and I want to connection a specific neuron to the other one in the layer.

Thank you.

[2019-06-28 14:07] djsaunde commented on #292
Yes, you can do this with a `Connection` from the layer to itself. E.g.,

[code]

[2019-07-01 13:01] #245 closed

[2019-07-01 13:01] #292 closed

[2019-07-01 14:28] k-chaney commented on #287
I'm actually at a workshop with Sumit now (and for the next 3 weeks). I've planned to sit down and talk about this in depth and maybe get something implemented. The paradigms are a bit different, but I think we can make something work.

[2019-07-01 14:56] djsaunde commented on #287
That would be awesome!

[2019-07-05 03:35] CoolJadeGuo opened #295 "Error in Importing PoissionEncoder"
`
Traceback (most recent call last):
 File "eth_mnist.py", line 18, in <module>
 from bindsnet.encoding import PoissonEncoder
`

[2019-07-05 11:16] djsaunde commented on #295
Hi @CoolJadeGuo, we're in the process of fixing the examples to conform with a new version of BindsNET (yet to be released on PyPI). To import `PoissonEncoder`, get the latest code by cloning the master branch.

[2019-07-05 16:08] Hananel-Hazan commented on #295
should be ok in #294

[2019-07-06 11:02] CoolJadeGuo commented on #295
Many thanks for your help. But the same issue still exists after I cloned the latest master branch and run eth_mnist.py:
`Traceback (most recent call last):
  File "eth_mnist.py", line 16, in <module>
    from bindsnet.encoding import PoissonEncoder
ImportError: cannot import name 'PoissonEncoder'`

[2019-07-06 15:54] dee0512 commented on #295
@CoolJadeGuo I just tested the code on the latest branch. There does not seem to be an issue.  Did you remember to reinstall the Bindsnet on the latest branch?

try:

`pip install -e .`

or

`pip install .`

[2019-07-06 15:57] dee0512 commented on #295
Just saw that the main branch was updated 3 hours ago, maybe that fixed it.

[2019-07-08 13:42] #295 closed

[2019-07-22 14:06] kuffmode opened #299 "Issue with importing BernoulliEncoder and EnvironmentPipeline"
Hi all,
I wanted to try Space Invaders but I keep on getting these errors with respect to 2 classes:
[code]
So I was wondering if you know what can be the issue. I tried some troubleshoots:
Reinstalling the repo
using python 2 and 3
checking the paths

[2019-07-22 14:41] Qlina opened #300 "AttributeError: 'TorchvisionDatasetWrapper' object has no attribute 'get_train'"
Hi,
I tried using this [script](https://github.com/djsaunde/bindsnet_experiments/blob/master/experiments/mnist/diehl_and_cook_2015.py) to test, but a problem encountered.
`Traceback (most recent call last):
  File "diehl_and_cook_2015.py", line 424, in <module>
    main(**args)
  File "diehl_and_cook_2015.py", line 160, in main
    images, labels = dataset.get_train()
AttributeError: 'TorchvisionD

[2019-07-22 15:14] Hananel-Hazan commented on #299
There have been a few major PR lately that may have broken some things. This could be one of them.

Can you try running this scrip using BindsNET version 0.2.2?

[2019-07-22 15:15] Hananel-Hazan commented on #300
There have been a few major PR lately that may have broken some things. This could be one of them.

Can you try running this scrip using BindsNET version 0.2.2?

[2019-07-22 15:16] djsaunde commented on #299
By the way, these commands work if you're working off of the current master branch.

[2019-07-23 06:17] Qlina commented on #300
Thank you for your reply!
I tried running this script using BindsNET version 0.2.2, however some function the scrip need not exist in version 0.2.2.
So I copied the "get_train()" function from BindsNET version 0.2.2 "dataset/__init__.py", to the latest version BindsNET 0.2.4 "dataset/torchvision_wrapper/ class TorchvisionDatasetWrapper(ds_type)".
Programs still don't work properly.
The function I

[2019-07-23 11:02] kuffmode commented on #299
I'm using BindsNET 0.2.4 so I'll give 0.2.2 a try and let you know. Thanks

[2019-07-23 13:33] djsaunde commented on #300
In general, the scripts in the `bindsnet_experiments` repository are out-of-date, and aren't expected to work.

[2019-07-23 13:33] #300 closed

[2019-07-27 18:35] #299 closed

[2019-07-27 18:40] djsaunde opened #301 "Memory efficient spike encoding"
At present, we generate input spikes prior to simulation. This results in tensors of shape `[time, *input_shape]`. When `time` and / or `input_shape` is large, this uses a lot of memory.

What we could do is generate spikes from encodings as-needed during simulation. The most obvious way to implement this, to me, is to create `Nodes` objects which maintain the variables needed to generate spikes a

[2019-07-28 21:39] #262 closed

[2019-07-28 23:04] Hananel-Hazan commented on #301
Good idea.
Two things that I think are relevant:
1. Need to check if generate input spike for one iteration is equivalent (same distribution and properties as to generate input spikes for `time`

2. I think that creating a special `Nodes` can cause a confusion with other nodes that are actually neurons.  We can create a `DataFeeder` object that will be connected to the network like `Monitors` to f

[2019-07-29 13:23] djsaunde commented on #301
I'm not sure I agree with your second point. We already have two types of `Nodes`: those that subclass `Nodes` only, and those that subclass both `Nodes` and `AbstractInput`. I think it's a good abstraction! We can have another abstract class (maybe `AbstractGenerator`?) which would service things like `PoissonGenerator`, `BernoulliGenerator`, etc. I know this approach works because `brian2` uses

[2019-07-29 14:54] Hananel-Hazan commented on #301
You are right, this trade offs is a good option to give the user to choose. On long runs Memory can be in short demand.  You can use some buffering mechanism to generate couple of iteration a head of time to save CPU usage and not completely hung the memory.

The confusion start with the definition of `Nodes`. Basically, Node have input and output that change according to the input. You can take a

[2019-07-29 15:04] djsaunde commented on #301
Yeah, that's true, but if a layer connects to a nodes object subclassing `AbstractInput`, the input from that layer is simply discarded. Only user-passed data (in the `inpts` dictionary) is used by nodes subclassing `AbstractInput`. In fact, it might be good to throw a warning, or even an error, if this kind of connectivity exists. It doesn't make sense.

In the same way, nodes subclassing `Abstra

[2019-07-29 15:19] djsaunde commented on #301
Yeah, that's true, but if a layer connects to a nodes object subclassing `AbstractInput`, the input from that layer is simply discarded. Only user-passed data (in the inpts dictionary) is used by nodes subclassing `AbstractInput`. In fact, it might be good to throw a warning, or even an error, if this kind of connectivity exists. It doesn't make sense because it won't do anything.

In the same way

[2019-07-29 20:44] Hananel-Hazan commented on #301
You are right,  because `AbstractInput` is only abstract, its behavior need to be corrected.
The rest of the nodes have the same behavior because Nodes are the Soma of neuron, they getting the sum of input, and outputting value according to function. That exactly the point, not to confuse the user with mixed and inconsistent behaviore.

The point of the framework to be general as possible,  but to

[2019-07-31 19:48] dizcza opened #304 "Is ONNX supported?"
I found ONNX is mentioned in your paper 2018 in a todo list. Is saving BindsNET models in ONNX format already implemented? That would be very beneficial for my project, where I want to use SNN to navigate Arduino-like robot.
Thank you.

[2019-07-31 19:55] djsaunde commented on #304
It's not supported (we haven't had a use case for it yet), but we are open to PRs!

[2019-07-31 19:59] Hananel-Hazan commented on #304
Pytorch that support it [link](https://pytorch.org/docs/master/onnx.html), but BindsNET is yet to support it..

[2019-07-31 19:59] #304 closed

[2019-08-15 11:17] WongyuLee1729 opened #307 "setting different reset values for each neurons"
In the MNIST example, DiehlAndCook2015, I'm trying to give different reset values for each neuron after spike occurs. However, the code is grouped by layers so that, in a layer, it seems not possible to pick out specific neuron and give a different reset  value.
for example, given the following Bindsnet code
**===========================================================
self.add_layer(DiehlAndCookN

[2019-08-15 16:02] djsaunde commented on #307
Hi @WongyuLee1729,

It is possible! You can simple pass in a 1D tensor of values for the `reset` argument. For example, to use reset values sampled from Normal(-60, 1):

[code]

This applies to other parameters as well; e.g., `rest`, `thresh`, `refrac`, etc.

[2019-08-15 16:12] WongyuLee1729 commented on #307
Thank you so much! It really helped me

[2019-08-15 16:13] #307 closed

[2019-08-15 20:07] dizcza opened #308 "Trouble running Breakout example"
I'm looking for a RL + SNN example and I found breakout directory in examples. Both scripts don't run (at least because `Pipeline` class does not exist at all).
I changed
`Pipeline` -> `EnvironmentPipeline`,
`pipeline.step()` -> `pipeline.env_step()` (also tried `pipeline.train()` without the loop),
but still I see the error I don't know how to fix:
[code]

If Breakout is no longer supported, are

[2019-08-15 20:24] Hananel-Hazan commented on #308
Thanks for using BindsNET.
Can you try running this scrip using BindsNET version 0.2.2?
Those examples need to be update to be compatible with the new changes.
Hopefully we will be update all of the examples in the near future.

[2019-08-15 20:47] dizcza commented on #308
I confirm it works with 0.2.2.
I noticed you [claim](https://github.com/Hananel-Hazan/bindsnet/issues/265) that converting trained ANN to SNN does not drop the accuracy significantly. Hope it's true for RL models as well. I might ask a few questions in the issue I mentioned about converting Breakout trained model to SNN.

You can close this issue or leave it open until you fix the example. I notic

[2019-08-15 20:50] djsaunde commented on #308
It's more than just a claim, it's been verified for certain datasets + classes of ANNs: https://www.frontiersin.org/articles/10.3389/fnins.2017.00682/full?report=reader.

The Breakout script doesn't result in good performance on the game, it just demonstrates that you can hook up a SNN to OpenAI Gym environments.

[2019-08-15 20:53] djsaunde commented on #308
As for fixing the examples, it is unfortunately not a high priority at the moment.

[2019-08-15 21:01] #308 closed

[2019-09-03 20:49] k-chaney commented on #301
One thing we can look towards is something like the AER type representation as input. Such as what is output from the DVS and other sensors like that. At the end of the day that would be equivalent to a sparse array representation. It should be pretty straight forward on the ```Input``` side as pytorch.

[2019-09-04 16:24] djsaunde commented on #301
Yeah, mostly agree except that PyTorch's support for sparse tensor ops is not super strong. But it would be great to look into this.

[2019-09-04 18:39] k-chaney commented on #301
I will look into this. There's some documentation on what exists for sparse and what doesn't exist for sparse. https://github.com/pytorch/pytorch/issues/8853

[2019-09-18 15:06] dee0512 opened #312 "Reorganize Examples"
Examples to be removed:

- [x] space_invaders/et_space_invaders.py
- [x] space_invaders/minimal_space_invaders.py
- [x] space_invaders/random_baseline.py
- [x] asteroids/random_network_baseline.py
- [x] datasets/davis.py
- [x] datasets/spoken_mnist.py
- [x] mnist/batch_conv_mnist.py
- [x] mnist/minimal_mnist.py
- [x] mnist/minimal_resevoir.py
- [x] mnist/minimal_supervised_mnist.py
- [x] cifar10/*

[2019-09-18 15:09] dee0512 commented on #312
@djsaunde can we move notebooks to bindsnet examples? We are planning to keep only examples that are required to help you understand Bindsnet. This would also reduce our workload when updating BindsNET.

[2019-09-18 15:12] djsaunde commented on #312
Yes, I think that's for the best. We've been talking for a while about removing a bunch of examples, since they're out of date / not super informative.

[2019-09-18 15:13] dee0512 opened #313 "Add documentation link to readme"
We will start updating it now

[2019-09-18 15:17] sharath commented on #312
I think we should move BindsNET to an organization repo and move the benchmark stuff to a separate repo under this organization.

[2019-09-18 15:42] djsaunde commented on #312
Yup, I'm in the process of convincing Robert to let us move BindsNET to a BINDS GitHub organization

[2019-09-18 18:38] Hananel-Hazan commented on #312
This is not relevant to this thread nor to public forum.
There is a plan to move to an organization, that plan involve lots of moving parts. Currently, BindsNET is in the right place to take advantage of that plan.

[2019-09-18 21:05] dee0512 commented on #312
So what do we do with the benchmarking examples? They require brian, ANNarchy, etc. which are not part of Bindsnet and are not relevant to normal users.

[2019-09-18 21:12] dee0512 commented on #312
Also, can everyone react to this comment to confirm all the examples to be removed? We tried to remove redundant and non-useful examples. Objections are welcome.

@Hananel-Hazan
@djsaunde
@sharath
@coopersigrist

[2019-09-18 21:20] Hananel-Hazan commented on #312
I think:
1. benchmark can be in docs and not in examples.  This script is needed to reproduce the figure in the BindsNET paper
2. All the examples in the BindsNET paper need to stay.
3. Minimal and not minimal need to be combine to one example (if any)

Open to suggestions

[2019-09-19 14:05] dee0512 commented on #312
I agree with Hananel on most of the points. But:

The examples in the Bindsnet paper might not be relevant anymore. For eg. Pipeline.

People can learn how to use datasets from the Docs. Same goes for neurons, architectures and learning rules. One Atari example should be enough to show how to work with rewards in RL.
So, I would suggest that instead of writing and maintaining an example for every

[2019-09-19 16:21] Hananel-Hazan commented on #312
Yes, you right, pipeline and datasets can be in the documents. But, although the examples from the paper are less relevant today, they are the first that going to be use by people that been introduce to the framework by reading the paper (quite a lots of people if you look on frontier page counter).

Still some example need to be maintain, not all people read the doc first, some clone and run the

[2019-09-24 16:22] Hananel-Hazan commented on #312
mnist/reservoir is functional (I update @sharath project)
cifar10/cifar10_reservoir.py is next

[2019-09-25 15:24] dee0512 commented on #312
We planned on removing cifar10 examples.

[2019-09-30 21:01] dee0512 opened #315 "Torchvision wrapper does not handle cuda"
datasets/torchvision_wrapper.py does not convert the image to cuda (device) before passing the image to encodings.py funcions.

I think we should add _gpu versions of the datasets in datasets/__init__.py

or a way to pass device if anyone else has a better idea.

[2019-09-30 21:06] djsaunde commented on #315
Hm, I don't think they should be on the GPU. The typical pattern is to load data on the CPU, and transfer them to (pinned) GPU memory as needed. See e.g. here: https://discuss.pytorch.org/t/when-to-set-pin-memory-to-true/19723.

[2019-09-30 21:59] dee0512 commented on #315
In that case, do not forget to convert the data from dataloader to device. For example in bindsnet_examples the batch lc_snn example. I will fix it.

[2019-09-30 22:04] dee0512 opened #316 "node.s is set to CPU"
[https://github.com/Hananel-Hazan/bindsnet/blob/dbdd8dbdae14efbce4263e7ed3df0337080679c1/bindsnet/network/nodes.py#L64](url)

This line is setting the node.s to cpu by default. We are setting the type by node.s.device in other places. Like here:[https://github.com/Hananel-Hazan/bindsnet/blob/dbdd8dbdae14efbce4263e7ed3df0337080679c1/bindsnet/network/network.py#L226](url)

Can we go back to it being

[2019-10-01 13:23] djsaunde commented on #316
I think it is typical PyTorch practice to create the network on the CPU, and then call the `to()` method to put it on the GPU. For example:

[code]

[2019-10-01 13:24] djsaunde commented on #315
Those examples aren't being maintained, and I don't plan to update them anytime soon.

[2019-10-01 13:25] djsaunde commented on #313
Added.

[2019-10-01 13:25] #313 closed

[2019-10-01 15:38] #315 closed

[2019-10-01 15:40] #316 closed

[2019-10-03 18:36] lianuo opened #317 "missing the attribute: spike_record From breakout_stdp.py"
Thanks for your excellent works!
I tried your example breakout_stdp with the latest version 0.2.5 ,
python 3.7 pytorch1.2.
but got err as follow:
it seems that the spike_record does not exist in breakout compare to the mnist example.
------------------------------------
Training:
Traceback (most recent call last):
  File "/home/guo/eng/snn/bindsnet/examples/breakout/breakout_stdp.py", line 74, in

[2019-10-03 18:44] djsaunde commented on #317
@lianuo Thanks for the bug report. @sharath, I think you are familiar with this code, do you know what the issue is?

[2019-10-03 19:13] djsaunde opened #318 "Switch spikes from ByteTensors to BoolTensors"
Just realized that torch now supports tensors with bool dtype. We should make the switch for spike data to save memory.

[2019-10-04 06:54] khengyeww opened #319 "Small error in eth_mnist.py?"
When running eth_mnist.py with only --plot option, the error below occurred.
[code]

I think this is due to
https://github.com/Hananel-Hazan/bindsnet/blob/39105a49265e2e2532f0b91b3e31086dc77cce4a/examples/mnist/eth_mnist.py#L220
which clears the list at every update interval.

<br>

My suggested solution is that to either remove the line220 mentioned above, or change the `labels[step]` to `labels[

[2019-10-04 13:33] djsaunde commented on #319
Hi @khengyeww, I just pushed a fix to the `master` branch. Let me know if you have any other problems!

[2019-10-04 13:33] #319 closed

[2019-10-06 12:45] lianuo commented on #317
thank you! it works now~

[2019-10-06 12:45] #317 closed

[2019-10-08 09:19] apple1987 opened #321 "can u give an example for object detection"
At present, spiking neural network is mainly used for object recognition.
As shown in the title, Can U give an example for object detection? just as spiking yolo,thanks.

[2019-10-08 13:22] rachmadvwp commented on #263
Hi, I'd like to ask again.
The abovementioned scripts are for detecting if there any spikes in source / target populations.
How about if I want to check any pre- or post-synaptic spikes at each synaptic connection?
Thanks in advance

[2019-10-09 08:51] ati6868 opened #322 "decay neuron's voltage in every time step"
why we have to decay neuron's voltage in every time step??
could you please tell me the reason ?

[2019-10-09 13:26] djsaunde commented on #321
Unfortunately, I'm unaware of any spiking neural network implementation of object detection, and we certainly don't have one in BindsNET. A quick Google search turned up [this]https://arxiv.org/abs/1903.06530). We would love to see an implementation using BindsNET!

[2019-10-09 13:26] #321 closed

[2019-10-09 13:29] djsaunde commented on #322
Hi @ati6868, not all neurons' voltages are decayed in each timestep (e.g., `IFNodes`, and some don't even have voltage (e.g., `McCullochPitts`). The neurons that do have decaying voltage (e.g., `LIFNodes`) do so because that is how they're defined in the literature; see, for example, [here]https://neuronaldynamics.epfl.ch/online/Ch1.S3.html).

[2019-10-09 13:29] #322 closed

[2019-10-09 13:42] djsaunde commented on #263
Hi @rachmadvwp,

I think you may be a little confused about how spikes are transmitted. If there is a spike at `self.source.s[i]` (source neuron `i`), then there is a spike at all synapses connecting from neuron `i` in the source population. Synapses don't have a "have-a" relationship with spikes, only neurons do. Does that make sense?

If you want to check for spikes that _happened at the same ti

[2019-10-09 14:34] rachmadvwp commented on #263
Really sorry, it turns out that my question is confusing and not properly written to convey the message that I'm asking. I got what you explained actually.

I was asking, if I use `if self.source.s.any()', then any spike from different source neurons are detected right? for example, if I have 2 source neurons, then if I use 'if self.source.s.any() ', whenever either neuron-1 or neuron-2 fires, it

[2019-10-09 14:44] rachmadvwp commented on #263
I'll try it and close the thread for now, thanks a lot for the help :)

[2019-10-09 14:49] djsaunde commented on #263
Here's a simple example of `Monitor` usage that might help you get started:

[code]

[2019-10-10 06:02] ati6868 opened #323 "error in eth_mnist example"
Hi
when i was going to run eth_mnist.py
i get this error:
` File "C:\Users\Ati\Desktop\bindsnet-master\examples\mnist\eth_mnist.py", line 92, in <module>
 inpt_shape=(1, 28, 28),
TypeError: __init__() got an unexpected keyword argument 'inpt_shape'`

Could you please help me on this why i am getting this error?

[2019-10-10 14:22] djsaunde commented on #323
Hi @ati6868,

I can't seem to reproduce your error. Did you install the latest version of BindsNET with `pip install bindsnet -U` or by cloning the repo and doing `pip install -e .` in the top-level directory? Could you send me the output of `pip list`?

[2019-10-10 15:03] ati6868 commented on #323
Thanks @djsaunde  for your response
i installed BindsNET  `with pip install bindsnet -U` already
but here are the version of it
`bindsnet= 0.2.4`
`torch=1.1.0`
`torchvision=0.3.0`

plus when i am going to install it agian
i get this error:
`ERROR: Could not find a version that satisfies the requirement torch>=1.2.0 (from
bindsnet) (from versions: 0.1.2, 0.1.2.post1, 0.1.2.post2)

ERROR: No matchin

[2019-10-10 15:17] djsaunde commented on #323
Hm, `torch 1.2.0` is out, so I don't know why you're getting that error. You should try just `pip install torch==1.2.0`, and if that fails, look for help on installing the current version of `torch` elsewhere; e.g., [here](https://github.com/pytorch/pytorch).

[2019-10-10 16:41] #323 closed

[2019-10-11 05:55] ati6868 commented on #323
I uninstalled completely torch , bindsnet and then i installed them again  and now it's working for me
thank you @djsaunde

[2019-10-16 18:23] alienatorZ opened #325 "GPU/CPU error on breakout_stdp"
I tried running the breakout example breakout_stdp and recieved the following error...

Training:
Traceback (most recent call last):
  File "c:\Users\Adam\.vscode\extensions\ms-python.python-2019.10.41019\pythonFiles\ptvsd_launcher.py", line 43, in <module>
    main(ptvsdArgs)
  File "c:\Users\Adam\.vscode\extensions\ms-python.python-2019.10.41019\pythonFiles\lib\python\old_ptvsd\ptvsd\__main__.py

[2019-10-17 12:08] alienatorZ commented on #325
You were correct. I pulled the master branch. It seems like 0.2.1 is working correctly but just using the cpu. Is there documentation for using BindsNet with GPU?

I ran the test in the link and everything seems ok:

<torch.cuda.device object at 0x000001EBA8F97898>

1

'GeForce GTX 1070 with Max-Q Design'

True

[2019-10-17 19:38] djsaunde commented on #325
Hi @alienatorZ, using BindsNET with GPU is as simple as calling `network.to("cuda")`, where `network` is a `bindsnet.network.Network` object. When passing data to the network, it must be converted to the same device as the network with `tensor.gpu()`, where `tensor` is to be used as input to the network.

We don't currently have documentation for this, but it's a good idea to add a short tutorial

[2019-10-17 19:38] #325 closed

[2019-10-19 11:52] rachmadvwp commented on #263
Hi,

I'd like to ask & clarify something. In the experiment repo, I used the example and it uses [integration time](https://github.com/BINDS-LAB-UMASS/bindsnet_experiments/blob/8a20be9d1ede021b70ff95cc7e85024ff5a222db/experiments/mnist/diehl_and_cook_2015.py#L331) 'dt = 1' and [simulation time](    parser.add_argument('--time', default=350, type=int, help='simulation time')) 'time = 350'. Does it

[2019-10-20 09:07] dizcza commented on #308
Thanks for fixing the examples.

[2019-10-21 15:07] djsaunde commented on #263
Yes, that's correct.

This is correct, but if you increase the `dt`  to 10, all numerical integration operations (not only the STDP calculation) will only happen every 10ms. This is fine if your simulation doesn't rely on quantities with temporal resolutions <10ms, but I would be careful that changing this doesn't mess up the simulation of e.g., neuron voltages.

You would also have to change the

[2019-10-21 15:44] rachmadvwp commented on #263
Thanks a lot for the explanation :)

[2019-10-23 06:05] ati6868 opened #328 "Spiking auto-encoders with BindsNet"
Hi
In BindsNET , is that possible that we make an autoencoder for implementing on mnist
(An autoencoder for spiking neural networks)
Could i create a simple autoencoder in pytorch(that is for ANN) then use Conversion.py module to convert it to spiking autoencoder??

Thank you

[2019-10-23 16:04] bbc1183 opened #329 "can't run eth_mnist.py"
I get the following error after immediately cloning repo:

Traceback (most recent call last):
  File "eth_mnist.py", line 225, in <module>
    network.run(inputs=inputs, time=time, input_time_dim=1)
TypeError: run() missing 1 required positional argument: 'inpts'

If I fix this, I get somethign like:

network has no attribute reset_state_variables...

any help would be appreciated.

[2019-10-23 16:07] #329 closed

[2019-10-23 16:07] bbc1183 commented on #329
my mistake

[2019-10-24 12:12] Hananel-Hazan commented on #328
In principle it is possible.
Your welcome to try and share the results and experience with us.

[2019-10-24 12:12] #328 closed

[2019-10-25 08:51] rachmadvwp commented on #263
Hi, I'd like to clarify small thing. In the Poisson generator (this [line](https://github.com/Hananel-Hazan/bindsnet/blob/1827e02266a26e44a517fbaaa1476a879dfe786b/bindsnet/encoding/encodings.py#L114)), is it correct that an input image encoded in rate 255Hz? Thanks in advance.

[2019-10-28 11:05] leleyi opened #330 "TypeError: __init__() got an unexpected keyword argument 'path'"
I am new, I wanna kown how can I deal this

[2019-10-28 11:37] leleyi commented on #330
dataset = MNIST(root=data_path, download=True)
 why there dont have the method  "get_train()"

[2019-10-28 18:11] djsaunde commented on #263
The passed-in data are treated as though they have Hz units. From the doc-string: "Inputs must be non-negative, and give the firing rate in Hz." So, if you pass in a tensor `[10, 50, 100, 255]`, the first will be converted to a spike train with firing rate 10Hz, the second, 50Hz, the third, 100Hz, and the fourth, 255Hz.

[2019-10-29 04:36] coopersigrist commented on #330
The code has been refactored but the examples are still being worked on, check out the eth_mnist example for a working example. We are now using wrappers around torchvision datasets so get_train isn't necessary

[2019-10-29 04:36] #330 closed

[2019-10-29 08:47] leleyi commented on #330
Thank you very much.

[2019-10-29 11:34] #263 closed

[2019-10-30 07:10] fangwei123456 opened #331 "More mathematical details about bindsnet.learning?"
I'm interested in bindsnet.learning.
However, I can't find mathematical details (for example, a mathematical detail of simple Hebbian learning: Δw_ij = k * v_i * v_j) about the implement of  these learning rules in https://bindsnet-docs.readthedocs.io/bindsnet.learning.html.

[2019-10-30 12:16] ati6868 opened #332 "how to create feedback connections in bindsnet?"
Hi
I'm trying to create a network of two layers while the network has feedforward and feedback connections
`feedback_connection = Connection(
    source=target_layer,
    target=source_layer,
    w=0.05 + 0.1 * torch.randn(target_layer.n, source_layer.n),
)`

but it shows me this error:
`    network.run(inpts=inpts, time=time)
  File "C:\python\Python37\lib\site-packages\bindsnet\network\network.p

[2019-10-30 13:27] djsaunde commented on #332
Hi @ati6868, at the moment, it makes no sense to connect to a layer of `Input` nodes, they simply discard their input. `Input` nodes spikes are set by the user by passing them to `network.run(inputs=...)`.

You could instead create a network with a layer of `Input` nodes (A), connected to a layer of `LIFNodes` (B), which is recurrently connected to itself, or connected to a third layer of `LIFNode

[2019-10-30 13:28] djsaunde commented on #331
Hm, looks like the BindsNET readthedocs page is broken; I'll look into this.

[2019-10-30 13:45] ati6868 commented on #332
thank you @djsaunde  for your response . my model is supposed to use predictive coding that's why i need to use feedback connections for propagating predictions of lower layers generated by upper layers .
if it's not possible , Could i have two layers of `LIFNodes` instead of " one layer of `Input` and one layer of `LIFNodes` " ?

[2019-10-31 05:17] ati6868 commented on #332
thank you very much @djsaunde
just how can i be informed when u do that because i'm working on my project with bindsnet??

[2019-10-31 06:36] ati6868 commented on #332
By the way ....As you said  that layer of `Input` nodes works based on user-specified spiking behavior.
and i'm going to feed pre-defined spike trains from layer 2 to layer 1(input)....then why i can't do this?

[2019-10-31 12:19] dee0512 commented on #332
@ati6868 The input layer takes a pre-defined spike train and outputs it. I do not think you want to do that. The input layer simply provides a way to input spikes into a network. For your network, therefore, you would want 3 layers as @djsaunde suggested:

To elaborate, the Input nodes (A) will be connected on a one to one basis to the LIFNodes, thus ensuring that the first LIFNodes (B) receive th

[2019-10-31 12:46] ati6868 commented on #332
thank you very much @dee0512 .... you always help me a lot
As you said i need a one to one connection between input layer(A) and layerB
1-number of nodes in both layers(A, B) should be 784 for mnist images?
2-Do the connections between A , B have weights? and spikes that are delivered to layer B , are transformed by W*X+b? because i don't want any change before delivering to layer B
Or it is just

[2019-10-31 12:49] djsaunde commented on #332
@ati6868 That should work. Just set the weights from layer1 to layer2 as `torch.ones(784, 784)`. so the spikes are unmodified and are simply transmitted.

[2019-10-31 12:52] ati6868 commented on #332
OKay thank you
I will try it 👍

[2019-10-31 14:46] #332 closed

[2019-11-02 06:46] ati6868 opened #333 "Does bindsnet support to forward two different input sets simultaneously ?"
Hi
As i said in my previous issue, i created 3 layers(one layer of `Input` nodes and 2 layers of `LIFNodes`)
Connections between layers are like this :  A------>B<=======>C
but now i am going to feed mnist images to layer(A) that will be forwarded to layer(B) , on the other hand i'm going to feed my pre-defined input spike trains to layer(B) [coming from layer(C)].
then i will compare mnist images

[2019-11-02 11:31] WongyuLee1729 opened #334 "synapse connection ordering between neurons"
Hello,
I have a question about ordering synapse connection between neuron layers.
For example, in the SNN MNIST example, there are 3 layers: X, Ae, Ai
And they are connected in the following order
[X, Ae] => [Ae, Ai] => [Ai, Ae].

Now I'm wondering after [Ai, Ae] connection occurs, can I connect new layer from Ae ?
How can I set the order the connection??

Thank you.
Wongyu

[2019-11-04 02:06] djsaunde commented on #334
Hi @WongyuLee1729,

I'm not sure what you mean by "order"; the layers are connected, but there is no ordering to the connections themselves. Simulation takes place synchronously, meaning every layer is updated on each time step using the network state from the previous time step.

There is nothing stopping you from making a connection from layer `Ae` to another layer, and the order which it's adde

[2019-11-05 15:08] Jbwasse2 opened #336 "ImageFolder Tested?"
Hello, I wrote a script that used the ImageFolder dataset. What would constitute enough "Testing" to have it go from "Not Tested" to "Tested" in [here](https://github.com/Hananel-Hazan/bindsnet/blob/master/bindsnet/datasets/README.md)?

Attached you will find my script and some images.
[bind.zip](https://github.com/Hananel-Hazan/bindsnet/files/3809612/bind.zip)

If you specify what is enough to be

[2019-11-05 15:11] Jbwasse2 commented on #287
I am interested in both Bindsnet and Slayer. Has there been any progress on this?

[2019-11-07 05:55] lqmanhosni opened #337 "Adding new dataset"
How do i add new dataset? The dataset that i want to add is in bmp format. So can i just upload it or need to convert into specific format? Can you explain to me the process step by step?

[2019-11-07 21:38] rachmadvwp commented on #248
Hi,
I'd like to ask. I have run [this](https://github.com/BINDS-LAB-UMASS/bindsnet_experiments/blob/master/experiments/mnist/diehl_and_cook_2015.py) example with no problem as per previous suggestion. However, when I try to use the same setting in a new PC, this [line](https://github.com/BINDS-LAB-UMASS/bindsnet_experiments/blob/8a20be9d1ede021b70ff95cc7e85024ff5a222db/experiments/mnist/diehl_and_

[2019-11-10 01:03] lusensama opened #338 "Shape mismatch during conv layer conversion"
Hello,

I have an input of 3,227,227
`snn = ann_to_snn(ann, input_shape=(3, 227, 227))`
and a conv layer of
`nn.Conv2d(3, 96, kernel_size=11, stride=4, padding=2, bias=False),`
but during conversion, there is an out of index error [here](https://github.com/Hananel-Hazan/bindsnet/blob/80a6ca3456da77e0082868ba61e97485e645f30a/bindsnet/conversion/conversion.py#L449). I fixed that manually because it

[2019-11-12 11:42] ati6868 opened #339 "How can i see generated spike-trains by layers after running the network"
Hi
I'm going Just to feed `input_data` to a network of two layers(A--->B) for one epoch (not more)
and i do not want to do any training here in this phase
I just want to know what is the generated spike-trains by the second  layer of `LIFNodes` because i need to calculate firing rate after feeding inputs and then number of spikes that are generated by second layer
I would appreciate your help to a

[2019-11-13 06:54] ati6868 commented on #339
Hey guys
i got my answer by using this code:
`spikes = {
    "A": Input_monitor.get("s"), "B": LIF_monitor.get("s")
}`
`print(spikes["B"])`
you can close this issue
and thank you for such a good work:)

[2019-11-13 08:13] Pranav-Machingal opened #340 "Monitor timestep"
monitor doesn't seem to work for dt!=1.

are there any issues with
passing dt parameter to monitor and doing time=time/dt

[2019-11-13 14:43] #339 closed

[2019-11-13 14:46] djsaunde commented on #340
Yeah, in general, `dt != 1` is not well-tested. I will try to take a look at this soon.

[2019-11-13 14:47] #334 closed

[2019-11-13 14:53] djsaunde commented on #337
Take a look at the [PyTorch tutorials](https://pytorch.org/tutorials/beginner/data_loading_tutorial.html) for reading in custom datasets, and then wrap the dataset for conversion into spiking data using [this wrapper](https://github.com/Hananel-Hazan/bindsnet/blob/7ab6d8314310755c18f2a5f474b5d24a2c6a9295/bindsnet/datasets/torchvision_wrapper.py#L18). You can then load and batch your data using [a

[2019-11-13 15:04] djsaunde commented on #340
Could you please share example code that produces the error?

[2019-11-13 17:12] Pranav-Machingal commented on #340
plot shows less number of spikes when `dt=0.1` as compared to `dt=1`
[code]

[2019-11-14 18:10] keiserjmlps opened #341 "reset_state_variables in breakout example"
Hi,

When running the breakout example, I get the following error:

**AttributeError: 'EnvironmentPipeline' object has no attribute 'reset_state_variables'**

in the portion of the code:

[code]

Any suggestions on how to successfully run this (and other examples)?

Thanks,
James.

[2019-11-14 18:17] djsaunde commented on #341
Hi @keiserjmlps, I'm not experiencing this problem on my end. Could you update to the latest version of BindsNET? `pip install -U bindsnet` should do the trick, or clone the master repo to stay up-to-date on changes.

[2019-11-14 18:18] #337 closed

[2019-11-14 20:31] keiserjmlps commented on #341
Thank you for the quick reply.  It looks like things are working now!!

Thanks,

James.

________________________________
From: Daniel Saunders <notifications@github.com>
Sent: Thursday, November 14, 2019 1:18 PM
To: Hananel-Hazan/bindsnet
Cc: Keiser, James; Mention
Subject: Re: [Hananel-Hazan/bindsnet] reset_state_variables in breakout example (#341)

Hi @keiserjmlps<https://github.com/keiserjmlp

[2019-11-14 20:52] #341 closed

[2019-11-15 08:14] lqmanhosni commented on #337
Okay thank you very much

[2019-11-17 22:11] #333 closed

[2019-11-18 08:14] khengyeww opened #342 "Minibatch for clamp/unclamp?"
Hello, I'm currently trying out the minibatch feature.

In network.run() function, inputs takes the tensor shape of `[time, batch_size, *input_shape]`.
In my use case, I need to clamp certain neurons to spike according to each input. Thus, to use the minibatch feature I have generated shape of `[time, batch_size, n_neurons]` for the clamp dict (to follow the shape of inputs) and received below err

[2019-11-18 12:28] khengyeww commented on #340
I have the same problem, and my current way of workaround is to use `int(time/dt)` for the `time` variable in `Monitor()`.
In this case: `source_monitor = Monitor( ... , time=int(100/0.1) )`.

I'm not sure if it's the right way but please update me on this too!

[2019-11-18 22:01] #338 closed

[2019-11-19 14:09] lemonade117 opened #343 "About running a SNN proposed by Diehl&CooK"
Hi, I'm so glad to see your simulator. In your paper"BindsNET: A machine learning-oriented spiking neural networks library in Python", here is an example about running a SNN proposed by Diehl&CooK. I wonder did you use the brian simulator(Brian/Brian2?) and have you solve the problem that this SNN takes a lot of hours to trian?
Waiting for your help.

[2019-11-19 23:42] Hananel-Hazan commented on #343
Yes, training the same model using BindsNET take less time

[2019-11-19 23:42] #343 closed

[2019-11-28 10:11] danielgafni opened #344 "SparseConnection not finished"
## Hello!

Could you please finish the implementation of SparseConnection with a learning rule?
Currently it’s not supported. As I understand, this is because sparse tensors and dense tensors behave differently in terms of code.
So that’s probably quite a lot of work. Can this be done by any chance, please?

It would also be nice to have sparse spikes. For example, inhibitor connections spikes tha

[2019-11-28 11:02] jethrokuan opened #345 "Breakout STDP having low rewards"
Hi!

I'm particularly interested in spiking neural networks in the reinforcement learning framework, so I thought I'd run the breakout example in `breakout_stdp.py`. Running the script, I get the results:

[code]

Is this to be expected? What's the mean/variance of the reward values I should be expecting? I'm looking to get something working so I can establish some baselines. Thanks!

[2019-11-29 13:56] Hananel-Hazan commented on #345
Hello, thank you for using BindsNET. The code `breakout_stdp.py` demonstrates how to use a spiking network to play an ATARI game.
The results that you reported are normal and can be expected from a random choice of the untrained spiking network.

Currently, it is not an easy task for training spiking neurons to perform well in the RL environment.
However, in this [paper](https://www.sciencedirect.

[2019-11-29 13:57] #345 closed

[2019-11-29 14:11] Hananel-Hazan commented on #344
Hello Daniel,  thank you for using BindsNET and for your suggestions. You are right, supporting sparse tensors is now in a work in progress, as such, it will probably going to take some time to PyTorch team to fully support the necessary operations that are crucial for BindsNET.

Until them, you are welcome to help with pushing PR to the repository.

[2019-11-29 14:11] #344 closed

[2019-11-29 19:03] danielgafni commented on #344
Currently I almost finished implementing SparseConnection for myself with scipy.sparse.
Is this going to be useful for you right now?
I don't have any info yet about how much will this change affect learning speed in an actual network.
However for simply multiplying two matrices scipy.sparse.bsr_matrix is ~20 times faster than torch.FloatTensor (sparsity is 1/9).
I realize that at some point PyTor

[2019-11-30 23:22] Hananel-Hazan commented on #344
Thank you for offering to help.  I can certainly see the need to patching this weakness even if it a temporarily one. Your solution can definitely help until the PyTorch team will finish the development.

[2019-12-01 14:39] ati6868 opened #346 "Using Gradient Descent on mnist"
Hi
i need to use Gradient Descent to update weights.
In here, first we count the number of generated spikes by layer `B` and then i compare generated spikes(firing_rate) with image pixels and difference is loss as the defined below:

`spikes = {
    "A": Input_monitor.get("s"), "B": LIF_monitor.get("s")
}`
`Generated_spikes=spikes["B"]`
`sum_Generated_spikes =(Generated_spikes==1).sum(dim=0) #coun

[2019-12-04 14:34] ati6868 opened #347 "creating a model in bindsnet"
Hi
i wanted to ask what is difference between creating a model with this code :

`class NN(nn.Module):`
`def __init__(self, input_size, num_classes):`

        super(NN, self).__init__()

        self.linear_1 = nn.Linear(input_size, num_classes)

        self.linear_1 = nn.Linear(input_size, h)

        self.linear_2 = nn.Linear(h, num_classes)`

    def forward(self, x):
        out = torch.sigm

[2019-12-04 14:56] dee0512 commented on #347
Former is an artificial neural network(ANN), the latter is a spiking neural network(SNN).

Former has 2 layers, latter has one layer with a recurrent connection.

(Also self.linear_1 has been overwritten for some reason.)

I am not sure why you are asking this. But hope this helped.  They do not behave similarly since they have different architecture and one is an ANN and the other is an SNN.

[2019-12-04 15:01] ati6868 commented on #347
Thanks @dee0512  for your response... i asked this because i saw it in reservoir.py example on bindsnet .... and i wanted to  know is there any difference generally
I have a problem with using Gradient Descent on SNN
and it was only example on bindsnet that has used GD ...

[2019-12-04 15:03] ati6868 commented on #347
Could please give me a help on this code about Gradient Descent:
`
learning_rate = 1e-6
for t in range(500):
    network.run(inpts=inpts, time=time)
    spikes = {"A": Input_monitor.get("s"), "B": LIF_monitor.get("s") }
    Generated_spikes=spikes["B"]
    sum_Generated_spikes =(Generated_spikes==1).sum(dim=0)
    loss = sum_Generated_spikes - images[0]
    if t % 100 == 99:
        print(t, loss.

[2019-12-04 15:06] ati6868 commented on #347
i don't know exactly where i have to define my parameters `requires_grad=True` ...and when i run it
it gives me this error:
`RuntimeError: element 0 of tensors does not require grad and does not have a grad_fn`

[2019-12-04 15:14] dee0512 commented on #347
I don't think reservoir.py is gradient descent on SNN. Try these examples:

[backprop](https://github.com/BINDS-LAB-UMASS/bindsnet_experiments/blob/master/experiments/mnist/backprop.py
)
[surrogate gradient](https://github.com/BINDS-LAB-UMASS/bindsnet_experiments/blob/master/experiments/mnist/surrogate_gradient.py)

Bindsnet experiments repo is where we put most of our experiments. However, it is

[2019-12-04 15:18] ati6868 commented on #347
Oh thanks a lot @dee0512  .... i will check them and i guess the links u sent me ,would help me very much

[2019-12-04 15:18] #347 closed

[2019-12-04 15:19] #346 closed

[2019-12-13 06:32] ati6868 opened #348 "How could i use Gradient Descent on SNN?"
Hi
i am going to do Gradient Descent on MNIST , but i don't know the idea i am using , is correct  or not?
I use `network=Network(torch.nn.Module)` instead of only `network=Network()` and then i am using GD as below:
`criterion = torch.nn.MSELoss(reduction="sum")`
`model = network.run(inpts=inpts, time=time)`
`optimizer = torch.optim.SGD(model.parameters(), lr=1e-4, momentum=0.9)`
`optimizer.zero_

[2019-12-19 21:00] Hananel-Hazan commented on #348
I'm sorry, step function like spike is not differentiable, therefore GD method cannot work with spike base neurons.

[2019-12-19 21:01] #348 closed

[2019-12-19 21:02] #340 closed

[2019-12-19 21:03] #336 closed

[2019-12-19 21:05] djsaunde commented on #342
FYI, I am no longer contributing to this project. The BINDS lab version of this package is maintained [here](https://github.com/BINDS-LAB-UMASS/bindsnet).

[2019-12-19 21:11] ati6868 commented on #348
Thank you for response
But one example in experiment repo. Has been done about backpropagation
.... I think it's done with GD .... am i right ??????because i corrected
that code and now it's working for me

On 20 Dec 2019 12:31 am, "Hananel Hazan" <notifications@github.com> wrote:

[2019-12-19 21:27] Hananel-Hazan commented on #348
Yes, it does, but it use regular NN trained with GD, then the weights been copied to run the spiking NN

[2020-01-16 11:58] Ondrysak opened #349 "Locally Connected Spiking Neural Networks for Unsupervised Feature Learning"
I am trying to find a working example from paper below, where the experiments are claimed to be implemented in BindsNET, are there any plans to publish it here in form of an example, if not could you point me to a good starting point to replicate the results?

https://arxiv.org/abs/1904.06269

[2020-01-16 16:57] Hananel-Hazan commented on #349
Check this [link](https://github.com/BindsNET/bindsnet/blob/master/examples/mnist/conv_mnist.py).

[2020-01-16 16:57] #349 closed

[2020-01-16 16:59] Hananel-Hazan commented on #342
Please share here the code to replicate this error

[2020-01-16 17:00] #342 closed

[2020-01-20 00:23] Enguerran971 commented on #163
Hi,
I've read your code and it's very interesting for me. I think you also modify the Nodes class (self.target.inpt and self.target.d), could you show me this class.
Thank's

[2020-01-30 11:29] Ondrysak opened #350 "conv_mnist.py example fails"
`python3 conv_mnist.py` unfortunately this examples crashes for, me `eth_mnist.py` works fine tho
 here is the output
[code]

[2020-02-03 13:34] Ondrysak commented on #312
maybe a related issue https://github.com/BindsNET/bindsnet/issues/350 ?

[2020-02-03 23:20] Hananel-Hazan commented on #350
Yes, it is related.
I will try to look in to it in the next couple of days. At the meanwhile, you are welcome to give it a try :-)

[2020-02-03 23:23] #331 closed

[2020-02-04 00:10] Hananel-Hazan commented on #350
The script is working.

[2020-02-04 00:10] #350 closed

[2020-02-04 00:32] Ondrysak commented on #350
Well on my machine it is not, are you not intrested in reproducing this bug @Hananel-Hazan ?

[2020-02-20 09:02] Danielle-Schuman opened #351 "Accuracy print-outs of supervised_mnist.py -example seem incorrect"
In the supervised_mnist.py -example, the "All activity accuracy" and the "Proportion weighting accuracy" are calculated every update_interval iterations. Also, the "assignments" of labels to the neurons in the excitatory layer are calculated, which are used for plotting.
This would be very handy to keep track of how the training is progressing, were it not for the fact that this seems to not be wo

[2020-02-20 09:44] Danielle-Schuman opened #352 "Voltage plot of supervised_mnist.py -example has description the wrong way around"
When you run supervised_mnist.py with --plot, the picture for the voltage has it's description "the wrong way around": It says "voltages for neurons (0 - [time]) from t = 0 to [n_neurons]".
E.g. if you run it with the default parameters – time = 500 and n_neurons = 100 – it says "voltages for neurons (0 - 500) from t = 0 to 100" (see attached picture).
I believe the cause of this to be that the me

[2020-02-23 00:56] coledie opened #353 "Environment Pipeline no attribute 'inpts'"
When attempting to run the example breakout_stdp.py, I get the error
[code]
it appears this is caused by a simple typo in the environment pipeline, where 'inpts' should be 'inputs'.

[2020-02-23 01:00] coledie commented on #353
It appears I cloned an old commit, this issue is not present in the most recent version of master.

[2020-02-23 01:00] #353 closed

[2020-02-26 00:44] Hananel-Hazan commented on #352
Thanks for finding this issue.
Can you confirm what version are you using? the pip version or the master?

[2020-02-26 08:22] Danielle-Schuman commented on #352
I downloaded the code from this repository on February 6th and installed it with `pip install -e . `

[2020-02-26 18:14] Danielle-Schuman commented on #351
I managed to fix the problem by introducing an additional tensor "labels" that is used to save the labels of the last update_interval iterations, and replacing "label" with this in the appropriate places.

I now get outputs like
"All activity accuracy: 100.00 (last), 88.71 (average), 100.00 (best)
Proportion weighting accuracy: 100.00 (last), 88.80 (average), 100.00 (best)"
as the learning process

[2020-03-02 00:01] Hananel-Hazan commented on #352
Thank you for notice it, I update the plotting method #354

[2020-03-02 00:01] #352 closed

[2020-03-02 00:02] Hananel-Hazan commented on #351
You are right, good catch.
I added your suggestion to the repo.
For next time, you can also commit a pull request

[2020-03-02 00:02] #351 closed

[2020-03-06 20:37] rachmadvwp opened #357 "UserWarning: masked_fill_ received a mask with dtype torch.uint8, this behavior is now deprecated,please use a mask with dtype torch.bool instead"
Hi,
I tried to run BindsNET in my other machines, but I got this warning and no printout of accuracy
`/opt/conda/conda-bld/pytorch_1579022027550/work/aten/src/ATen/native/cuda/LegacyDefinitions.cpp:19: UserWarning: masked_fill_ received a mask with dtype torch.uint8, this behavior is now deprecated,please use a mask with dtype torch.bool instead.`
Do you know why this happens and how can we solve

[2020-03-08 14:40] Hananel-Hazan commented on #357
Thank you for using BindsNET.

Please provide more information how the error above can be replicated. The error above is not clear where the problem originate, it could be a cuda issue too.

Also, its seems that you using conda. Try to uninstall BindsNET from pip and install the conda package
` conda install -c bindsnet bindsnet `

[2020-03-08 14:41] Hananel-Hazan commented on #210
BindsNET is on conda, try it:
` conda install -c bindsnet bindsnet `

[2020-03-08 14:42] #210 closed

[2020-03-09 09:31] rachmadvwp commented on #357
Hi @Hananel-Hazan ,
Will this install can be modified without reinstalling it again like `pip install -e .` ?
Because I need to modify it afterward for implementing my technique. Thanks in advance.

[2020-03-09 12:53] ferqui opened #358 "EnvironmentPipeline documentation"
Hi,
I'd like to ask if it could be possible to add to the documentation and example of how to use the EnvironmentPipeline. In the examples provides of the _breakout_, I would like to plot the spike activity of the layers, but it open an empty window.
<img width="973" alt="Captura de pantalla 2020-03-09 a las 13 48 26" src="https://user-images.githubusercontent.com/11820464/76214417-fb17ec00-620c-1

[2020-03-09 15:59] Hananel-Hazan commented on #357
Hi @rachmadvwp , you are right, the conda install method will install BindsNET in production/release mode, not development mode like in `pip install -e .`

Can you run tests examples with using only PyTorch?
My suspicion is that the problem is with the Cuda/PyTorch installation that BindsNET heavy rely on.

[2020-03-10 14:10] rachmadvwp commented on #357
Hi @Hananel-Hazan
Here is my `pip list`. Does it help?

Package         Version
--------------- -------------------
attrs           19.3.0
bcrypt          3.1.7
bindsnet        0.2.3
certifi         2019.11.28
cffi            1.14.0
cloudpickle     1.3.0
cryptography    2.8
cycler          0.10.0
Cython          0.29.15
decorator       4.4.2
experiments     0.1
future          0.18.2
gym

[2020-03-17 17:16] Hananel-Hazan commented on #357
Yes, it help. But still not sure why you have that error.

1. When you run it on CPU does it run without issues?

2.  Can you try to run [this](https://github.com/pytorch/examples/blob/master/mnist/main.py) example? using your GPU.

[2020-03-26 00:32] Hananel-Hazan commented on #358
Thank you for using BindsNET and for finding this. There are some ongoing efforts to address the documentation. Hopefully, that will improve in time.
For the plotting issue, I push a fix.
More improvements are on the way

[2020-03-26 00:32] #358 closed

[2020-03-26 00:32] #357 closed

[2020-05-01 14:50] Thonner opened #362 "supervised MNIST example accuacy and GPU issues"
Hi BindsNet
I am doing a master project where I am building a neuromorphic processor. I'm am (trying) to use your platform to train a network using Bindsnet, as this is the most promising SNN simulator that stays purely in the spiking domain. Long story to say that I have been playing around supervised MNIST examples, as I would like to use this to test my hardware implementation. But I'm seeing s

[2020-05-04 20:51] Hananel-Hazan commented on #362
Thank you for bringing this up. You are right, there was a couple of issues with the example that prevent it to work under GPU.
The data loader has been fixed.

The accuracy reported in the example is for the training process. It shows that the network reacts as expected. Once the training completes the supervise mechanism that clamps the right neuron and forces it to fire no longer valid.
Thus in

[2020-05-05 12:56] SimonInParis commented on #301
IMO, encoders should not be called on user side, except for specific needs.
What if the 'Network' was responsible for both spikes encoding and assigning ?
ex.:
`model = Network(encoder='poisson', decoder = 'average_spikes', assignment='auto-assign')`

[2020-05-05 15:45] #362 closed

[2020-05-08 03:22] tehreemnaqvi opened #365 "AssertionError: Target dimensionality must be (out_channels, ?,(input_height - filter_height + 2 * padding_height) / stride_height + 1,(input_width - filter_width + 2 * padding_width) / stride_width + 1"
Hi,
I am following your examples.I wanted to use convolutional layers in SNN. So, I followed your examples,which you have done for mnist.Currently, I am working on (two_conv.py) this code.
But i have some issue,when i run this code,got this error.
AssertionError: Target dimensionality must be (out_channels, ?,(input_height - filter_height + 2 * padding_height) / stride_height + 1,(input_width - fi

[2020-05-08 04:32] tehreemnaqvi commented on #365
When I changed the shape of output channels, i got this error.
n=n_filters * conv_size * conv_size, shape=(n_filters, conv_size, conv_size),
TypeError: can't multiply sequence by non-int of type 'tuple'

[2020-05-10 16:57] Hananel-Hazan commented on #365
Thank you for bringing it up. The code that you mention is part of ongoing experiments done many versions ago. This code is not supported and not expected to work using the latest version.

[2020-05-10 16:58] #365 closed

[2020-05-11 04:36] tehreemnaqvi opened #368 "Plotting Spikes, Voltages"
Hi, I am trying to plot spikes,voltages.But once training is completed,I didn't get any plot.
This is my code:

    for epoch in range( args.n_epochs ):
        # Create a dataloader to iterate over dataset.
        dataloader = DataLoader(
            dataset,
            batch_size=args.batch_size,
            shuffle=True,
            num_workers=args.n_workers,
            pin_memory=args.gpu,

[2020-05-11 09:05] Danielle-Schuman commented on #368
Hi,
So I had the same "issue" a while ago. Technically, this is not an issue, though, because the plots from plotting.py are not intended to be there after training, but for you to watch during training. For saving plots after training, there is the code in visualization.py. However, not all plots you can find in plotting.py are also in visualization.py. Since I also wanted to save the plots from

[2020-05-11 09:23] tehreemnaqvi commented on #368
Thank you very much for your help.

[2020-05-11 09:23] Danielle-Schuman commented on #368
You're welcome :)

[2020-05-11 12:05] tehreemnaqvi commented on #368
Mam ,the above save plot is giving error like this:
![save_plot](https://user-images.githubusercontent.com/38427571/81559837-21a00200-93cb-11ea-9834-68b15f54f68f.PNG)

[2020-05-11 12:07] Danielle-Schuman commented on #368
Oh, I guess I forgot to mention the import statement:
`from matplotlib.figure import Figure`

[2020-05-11 12:09] tehreemnaqvi commented on #368
Yeah it's working.
Mam, below every plot function, I have to call fig :Figure =None??

[2020-05-11 12:19] Danielle-Schuman commented on #368
That's nice to hear :)
I'm not sure whether you need fig :Figure =None . How about you just try it out by running a small example with or without? Then you'll see what works and what doesn't...

[2020-05-11 12:23] tehreemnaqvi commented on #368
Okay Mam.
Thank you.

[2020-05-11 13:59] tehreemnaqvi commented on #368
Mam, didn't get any plot.
This is my code:

On Mon, 11 May 2020 at 21:19, Daniëlle Schuman <notifications@github.com>
wrote:

[2020-05-11 15:24] Danielle-Schuman commented on #368
I can't see your code, it just says "..." and then shows part of an E-Mail ... Could you post it again?
Also: I thought you said earlier that it worked?

Anyways: Did you provide a directory path at the appropriate point(s) in the code? (e.g. I included a command line argument for it that I then write to the variable "directory" in my code...) If not, that might be the problem because that would b

[2020-05-11 15:28] tehreemnaqvi commented on #368
Mam this my full code:
"""
Attempt to replicate the network and unsupervised training procedure from "Training Deep
Spiking Convolutional Neural Networks With STDP-Based Unsupervised Pre-training Followed
by Supervised Fine-Tuning"
(https://www.frontiersin.org/articles/10.3389/fnins.2018.00435/full). They use a layer-
wise pre-training scheme, which is not yet implemented in this script.
"""

impo

[2020-05-11 15:31] tehreemnaqvi commented on #368
![directory](https://user-images.githubusercontent.com/38427571/81580066-e95aec80-93e7-11ea-92d9-852ce030237d.PNG)

[2020-05-11 15:33] tehreemnaqvi commented on #368
This is what i plotted but plot didn't save:
![plotting](https://user-images.githubusercontent.com/38427571/81580269-30e17880-93e8-11ea-95fc-6caf615bf454.PNG)

[2020-05-11 15:39] tehreemnaqvi commented on #368
Like this:
**directory = '/Users/Tehreem/PycharmProjects/qasim/bindsnet-master/bindsnet-master/snn-minibatch-master/minibatch/*.png'**

[2020-05-11 16:09] Danielle-Schuman commented on #368
So first of all: Have you modified the code in plotting.py to return the figures (because usually, it just returns the axes and ims, not fig)? (And did you import Figure there, too, doing so?)
If that works correctly, I'm not sure where your problem is either, I'm sorry.
I think the way you specified your directory (without *.png) should be fine, by the way ...

Anyway, if you're interested, you c

[2020-05-11 16:16] tehreemnaqvi commented on #368
Thank you very much.

On Tue, May 12, 2020, 1:10 AM Daniëlle Schuman <notifications@github.com>
wrote:

[2020-05-17 14:01] tehreemnaqvi opened #371 "network.save( os.path.join( params_path, model_name + '.pt' ) )"
Hi,
1. I am following your code "**diehl_and_cook_2015.py**".When I run this code. I got this error:

 **No such file or directory: '/Users/Tehreem/PycharmProjects/bindsnet_experiments-master/experiments1/mnist/params/mnist/conv/.pt'**
I don't know what's the problem with this?

2. For testing mode, we just need to to change test = True in this line:
  **parser.set_defaults( plot=False, gpu=False,

[2020-05-17 17:15] Hananel-Hazan commented on #371
Hi,
Thank you for bringing this up.

The script that you are using is an old unsupported script that been use in testing stages.
Please use the script `eth_mnist.py` [here ](https://github.com/BindsNET/bindsnet/tree/master/examples/mnist).
If you have improvements or suggestions please feel free to submit a pull request.

Thanks and happy spiking

[2020-05-17 17:15] #371 closed

[2020-05-18 02:00] XDUSPONGE opened #372 "about the test mode"
First, thanks very much for your shared code
When I run the code as ptyhon ethmnist.py
I find for the dataloader the training_data is the same with the test_data
So, if there is anything wrong?
And my env is
pytorch 1.4
cuda10.1

[2020-05-18 02:15] tehreemnaqvi commented on #371
Thanks for your reply.
I wanna ask one more thing, that for the testing phase we just have to do like this:
**parser.set_defaults(plot=False, gpu=False, test=True)**

Thanks

[2020-05-18 18:58] Hananel-Hazan commented on #371
Thank you for pointing it out.
Sadly, the code for the testing phase is not present in the example. So the test=True has no meaning at the moment.
You can use the existing code to write the testing function.
In any case, this oversite will be fixed in the future.

[2020-05-18 19:01] Hananel-Hazan commented on #372
Hi, thank you for using BindNET.

You need to create another dataloader  with the option of  `train=False`, and then use this object in your testing loop.

For example:

[code]

[2020-05-18 19:01] #372 closed

[2020-05-19 10:47] XDUSPONGE commented on #372
hello,  thanks for your reply, as the paper says,
[code]
so the whole pipeline I understood is
[code]
so my question is
how to keep the  set the learning rate to zero, fix each neuron's spiking threshould afterting the training is done,  the pipeline I do did not to these two things

[2020-05-20 00:10] Hananel-Hazan commented on #372
Please use: `network.train(mode=False)` before starting the testing process. That should disable the synapses modulation.
When you want to go back and train the network use: `network.train(mode=True)`.

[2020-05-22 07:47] webstorms opened #376 "Mismatched plotting for neuron count and time duration and zero voltage"
Hi,

I am new to BindsNet. I have adapted [this](https://bindsnet-docs.readthedocs.io/guide/guide_part_i.html) starting tutorial to use a convolution. However this is the plot that I get. Here you can see a mismatch between the number of neurons between the last two plots (and a change in time), where they should be the same. In addition, there are no voltage recordings. Am I doing something wrong

[2020-05-22 07:56] webstorms opened #377 "Synaptic current decay. But what are traces?"
Hi,

I am trying to figure out how to implement the current-based synapse model i.e. decaying current. I see the implementation of `CurrentLIFNodes`, which I assume is what I am looking for. However I am now confused by the trace parameters in the Node class (which I initially thought controlled this behaviour). Could someone please elaborate on the following parameters.
[code]

Thanks!

[2020-05-22 09:19] webstorms commented on #287
Has any implementation of SLAYER been made with Bindsnet?

[2020-05-23 00:17] Hananel-Hazan commented on #287
There some newer models also on the same notion. This is one of the improvements on our to-do list. Meanwhile, you can give it a try to implement and your welcome to push a PR.

[2020-05-23 00:20] Hananel-Hazan commented on #248
Try to use the 'eth_mnist.py' in the example directory and lets us know if the issue exists.

[2020-05-23 00:20] #248 closed

[2020-05-23 00:21] #368 closed

[2020-05-23 00:22] Hananel-Hazan commented on #377
The `CurrentLIFNodes` neuron implemented from Professor Wulfram Gerstner website, [here](https://web.archive.org/web/20190517172145/http://icwww.epfl.ch/%7Egerstner/SPNM/node26.html#SECTION02313000000000000000) you can find all the details.
The descriptions in the code are almost self-explanatory.
If you have a specific question please don't hesitate to ask.  But, please try to play around with th

[2020-05-23 00:22] #377 closed

[2020-05-23 00:57] Hananel-Hazan commented on #376
Thank you for bringing this issue. You are right, the voltage plotting had a dimension mismatch. I pushed a PR to fix the issue.

[2020-05-23 01:10] #376 closed

[2020-05-23 01:11] #285 closed

[2020-05-23 02:22] XDUSPONGE opened #380 "Node Type"
hello for the Node these code released is the simple lif neuron
tau dv/dt = -(V - V_rest)
however in the diehl's paper, it uses ge and gi in the computation
So why the DiehlNode does not have these two dynamic conductance

[2020-05-25 18:09] Hananel-Hazan commented on #380
Hi, thanks for using BindsNET.
The DiehlAndCookNodes is a modified version that been adapted for BindsNET and changes to be more general.
The use of separate conductances for excitatory and inhibitory was relevant to demonstrate the model in their paper, which had excitatory and inhibitory layers. It is not however relevant to be used as a general layer in BindsNET.  In essence, both models should

[2020-05-25 18:09] #380 closed

[2020-06-08 22:26] jcmharry opened #381 "Problem about Poisson encoder"
Why do the encoded spikes from the same picture change every time I run the eth_mnist? I find the spikes always change... Is there any error?

[2020-06-08 22:58] jcmharry commented on #381
I find where the error is! When we set GPU=True, the encoded spikes from one picture change every time running the code.

[2020-06-09 12:10] rachmadvwp opened #382 "Showing the saved confusion matrix"
Hi,
Just want to ask, how can we show/plot the saved confusion matrix?
I saved it using the following excerpt, from this [sample](https://github.com/BINDS-LAB-UMASS/bindsnet_experiments/blob/8a20be9d1ede021b70ff95cc7e85024ff5a222db/experiments/mnist/diehl_and_cook_2015.py#L305)

[code]
Thanks in advance

[2020-06-10 06:52] jcmharry commented on #381
Also one problem, why dies spikes from Poissonencoder change slightly every time? It's really confused.

[2020-06-10 08:23] Danielle-Schuman commented on #381
Poisson encoding encodes the input data as spikes based on a probability distribution. Thus, certain input spikes only occur  with a certain probability, and thus they are different every time. And this also influences the other spikes in the network, since they are "calculated" from the input, leading to non-deterministic (i.e. being different every time you run it) spiking behaviour of the netwo

[2020-06-10 10:13] jcmharry commented on #381
Thanks for your reply. Yes, when I add the seed in the poisson encoding function, it generates the same spikes every time. But I still have another problem. When I run multiple iterations, although I input the same picture, the second layer's output spikes are not same. And when I use the GPU, the output spikes also are different from I use CPU.

[2020-06-13 00:23] Hananel-Hazan commented on #381
Thanks @Danielle-Schuman.
@jcmharry note that it is recommended to set the seed for numpy as well. Also try to set the seed at the start of the iteration.
Because BindsNET use other packages, it is harder to determine where the randomness coming from.

[2020-06-13 00:23] #381 closed

[2020-06-14 17:28] Hananel-Hazan commented on #382
The unsupported example use the confusion matrices function from scikit-learn.
To show the confusion matrix use `print(confusions)`
For more information about the confusion matrices function please see the scikit-learn page [here ](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.confusion_matrix.html)and [here](https://scikit-learn.org/stable/auto_examples/semi_supervised/plot_la

[2020-06-14 17:28] #382 closed

[2020-06-15 10:40] wusaifei opened #383 "batch_ eth_ mnist.py The plot in is set to true, but an error is reported"
TypeError: plot_performance() got an unexpected keyword argument 'x_scale'.

[2020-06-15 19:44] Hananel-Hazan commented on #383
Thanks!
`x_scale` is not necessary today. I fixed the examples

[2020-06-15 19:44] #383 closed

[2020-06-19 02:59] wusaifei opened #385 "When batch size > 1, the accuracy of MNIST training is very low?"
Hello, I'm in conv_ mnist.py and SOM_ LM_SNN.py is accelerated, batchsize = 32, the accuracy is very low, and with the increase of training algebra, the accuracy will also decline.
![SOM_LM_SNNS](https://user-images.githubusercontent.com/27795216/85092230-db389100-b21b-11ea-8213-9824be279e9b.png)
![conv_mnist](https://user-images.githubusercontent.com/27795216/85092235-decc1800-b21b-11ea-875f-6fe2

[2020-06-19 06:51] wusaifei commented on #385
@Hananel-Hazan @amolk learning.py , there is no kwargs ['reward '] parameter in the mstdp rule. Do you need to set it manually? Or just set it to 1

[2020-06-19 07:07] SimonInParis commented on #385
In SOM, You can try to change the batch learning summation by providing torch.sum when building the network. When calling:
`network = IncreasingInhibitionNetwork(`
you can try adding:
`reduction = torch.sum`
(default behavior is torch.mean)
Also, make sure you are running Python3.6.x. From Python 3.7 on, it is known to be incompatible and corrupts the learning scheme.

[2020-06-19 09:11] wusaifei commented on #385
@SimonInParis Thank you very much for your reply. There is also a small question: supervised_ mnist.py The accuracy of the test data is always very low at 10%, which is the result of random selection, but the training set is as high as 96%. What's the reason?

[2020-06-19 10:37] wusaifei commented on #351
@Danielle-Schuman Hello, I'd like to ask supervised_ mnist.py Is there any problem in the test part of? I tested the results at 10%, and the predicted tags are all 9. I'm looking forward to your reply

[2020-06-19 19:36] Hananel-Hazan commented on #385
Thanks @SimonInParis

[2020-06-19 19:36] #385 closed

[2020-06-20 02:10] wusaifei commented on #385
@Hananel-Hazan Thank you very much for your update. This is the best library for learning SNN.

[2020-06-20 07:49] Danielle-Schuman commented on #351
Hello @wusaifei, Regarding your question about the testing phase: I don‘t know, to be honest, because I‘ve been working with an older version of the code that doesn’t have an explicit testing phase in it. (Also, I‘m not sure what you mean by „at 10%”.) But since Mr. Hazan just pushed some new code regarding testing, maybe that fixes your problem?

[2020-06-20 07:58] wusaifei commented on #385
@Hananel-Hazan I'm really sorry to disturb you again. The accuracy of the modified code is a little improved, but the accuracy of the test set is maintained at about 18%. Will it be because the training network has not been updated.

[2020-06-20 08:02] wusaifei commented on #351
@Danielle-Schuman Thank you very much for your reply. The accuracy rate of MNIST test set is about 10%. With the improvement of the new version, the accuracy of MNIST's test set has been improved, but it has been maintained at 18%. The accuracy of training set is as high as 98%.

[2020-06-20 08:05] wusaifei commented on #351
@Danielle-Schuman In the new version just released, the accuracy of MNIST test set has not improved significantly, and the accuracy of test set remains at 18%.

[2020-06-22 18:53] Hananel-Hazan commented on #385
I pushed an update to the master branch. The parameter change will increase accuracy. But improving it further will require applying a selection mechanism instead of random selection. The selection needs to choose the best neuron from the designated class and to clamp it.

[2020-06-23 06:52] wusaifei commented on #385
@Hananel-Hazan Thank you very much for your reply. Another problem is that in the mstdp, mstdpet and Rmax learning rules, there are reward = kwargs ["reward"], reward signal from reinforcement learning task. However, there is no "reward" parameter in * * kwargs dictionary. I know it can be float or tensor, but how should I update it? Or do I directly set a constant 1, kwargs ["reward"] = 1, reward

[2020-06-23 06:53] wusaifei commented on #385
@Hananel-Hazan Thank you very much for your reply. Another problem is that in the mstdp, mstdpet and Rmax learning rules, there are reward = kwargs ["reward"], reward signal from reinforcement learning task. However, there is no "reward" parameter in * * kwargs dictionary. I know it can be float or tensor, but how should I update it? Or do I directly set a constant 1, kwargs ["reward"] = 1, reward

[2020-06-24 06:19] wusaifei commented on #385
Does the author consider adding the method of FSDD speech classification? It's very different from the image.

[2020-06-24 06:21] wusaifei commented on #385
Bindsnet is the best toolkit for learning SNN and various learning rules. Thank you very much for your open source. Does the author consider adding the code of FSDD speech classification? It's very different from the image.

[2020-06-24 11:36] wusaifei commented on #385
Hello, author, where can I get the old version of bindsnet source code？

[2020-06-29 17:33] Hananel-Hazan commented on #385
You need to pass the reward via the `network.run` using reward = kwargs ["reward"].
Please see the example `breakout-stdp` [link](https://github.com/BindsNET/bindsnet/blob/master/examples/breakout/breakout_stdp.py)

[2020-06-30 16:01] k18shruti opened #389 "Illegal memory access error on GPU"
I am trying to simulate a randomly connected network of 50,000 neurons on the GPU (V100) and I am getting this error:
.../bindsnet/network/nodes.py", line 523, in forward
    self.refrac_count.masked_fill_(self.s, self.refrac)
RuntimeError: CUDA error: an illegal memory access was encountered

I did a pip install using: pip install git+https://github.com/BindsNET/bindsnet.git
Is there a way to fix

[2020-06-30 16:37] Hananel-Hazan commented on #389
Thank you for using BindsNET.

Sadly, it seems that the error that you encounter belongs to PyTorch. Searching the error message leads to PyTorch forums that try to troubleshoot the problem. Please look [here ](https://github.com/pytorch/pytorch/issues/21819) for more details.

From what I see in the discussion this error seems quite generic message, that can be caused by many different reasons.
I

[2020-06-30 16:38] #389 closed

[2020-07-03 07:17] Adam-Antios opened #390 "Improve Documentation"
Hello! I am trying to use BindsNET but I find that the documentation is practically non-existent. There is a pdf file with some initial
setup but apart from that nothing else. Moreover the code that exists in the paper

"BindsNET: A machine learning-oriented spiking neural networks library in Python"

produces mistakes when I try to run it and thus it is not helpful. On top of that this code doesn

[2020-07-03 09:49] SimonInParis commented on #390
Hi.

Here are the documentation:
https://bindsnet-docs.readthedocs.io/
I hope it will be helpful to you.
Remember BindsNet is still under heavy development.

You can read the example source codes, as they contain everything you need
to build, monitor and diagnose your own networks.
You can start with the eth_mnist.py
<https://github.com/BindsNET/bindsnet/blob/master/examples/mnist/eth_mnist.py>
wh

[2020-07-03 17:43] Adam-Antios commented on #390
Well obviously I have read this material. Actually this is the only kind of information that currently exist and it doesn't cover anything apart from the most basic of operations. I think that the developers need to improve the documentation as soon as possible or no one will be able to use Bindsnet.

[2020-07-03 18:03] Hananel-Hazan commented on #390
Thank you for your comment, your opinion is very important for us.
Please explain what would help you to start programming using BindsNET?
Also, please elaborate on what missing from your perspective as a novel user in the current documentation and examples.

[2020-07-03 18:03] #390 closed

[2020-07-03 19:21] Adam-Antios commented on #390
Thank you for the quick response. First of all I felt like there exists a basic introduction as to how to start building a network but after that the user is left on its own. To be more specific:

- Because I am not just trying to implement machine learning algorithms, but I am also interested in the spiking neural networks' inner workings and their close relationship with computational neuroscien

[2020-07-05 23:38] Hananel-Hazan commented on #390
Thank you for your feedback, it is very useful. If you have an interest in spiking neurons, machine learning, and neuroscience you came to the right place.

You have provided ample food for thought and the critique benefits the research community.  We would be happy to incorporate your step by step guide to the available resources for BindsNET so that we can add to the repertoire of resources for

[2020-07-08 12:44] wbzhang233 opened #391 "How to construct an attention model based on bindsnet?"
Hello! I am doing research about midbrain network now, I want to construct an attention model based on bindsnet, but I can't find any example. What is  the workflow of doing so? PLS.

[2020-07-08 14:26] Hananel-Hazan commented on #391
Thank you for using BindsNET.
Can you share your example or paper describes the network you would like to build?

The workflow of learning and using BindsNET is by example. Use the code in the [examples directory](https://github.com/BindsNET/bindsnet/tree/master/examples) to build your network. For help on each function use the [documentations](https://bindsnet-docs.readthedocs.io/)

Good Luck

[2020-07-08 14:26] #391 closed

[2020-07-16 18:49] rachmadvwp commented on #382
Hi,
From the same sample, I run it perfectly on cpu but faced error when running on cuda gpu, which points to:
[code]
with error message:
[code]
Could you please show the way how to solve this.
Thanks in advance.

[2020-07-17 08:31] rachmadvwp opened #393 "the np.mean is working on cpu, but not on cuda gpu"
Hi,
From an old sample, I run it perfectly on cpu but faced error when running on cuda gpu, which points to:

[code]

with error message:

[code]

Could you please show the way how to solve this.
Thanks in advance.

[2020-07-17 10:25] daiminghuan opened #394 "about example/mnist/supervised_mnist.py"
![image](https://user-images.githubusercontent.com/51187217/87776152-e5b96b00-c859-11ea-8db1-df81af6cdaae.png)

 Accuracy: 0.0959040959040959: 1001it [08:10,  2.04it/s]

Is the accuracy of the example so low?
I'm not so sure

[2020-07-17 22:39] Hananel-Hazan commented on #382
Try to use `.cpu().numpy()` on those variables.

[2020-07-17 22:45] Hananel-Hazan commented on #393
Thanks for reporting this error. What example did you run?

[2020-07-17 22:50] Hananel-Hazan commented on #394
Thank you for posting this issue.
Can you elaborate on what version of BindsNET do you use? What parameters do you use to achieve this low accuracy?
Please look at  #362 the example with the default values should give you more then 60%

[2020-07-18 08:55] #393 closed

[2020-07-18 08:56] rachmadvwp commented on #382
I'll try this first and let you know if it doesn't work out.

[2020-07-18 19:22] rachmadvwp commented on #382
It gets this error now

Traceback (most recent call last):
  File "main.py", line 416, in <module>
    main(**args)
  File "main.py", line 327, in main
    np.mean(curves['all'].cpu().numpy()), np.mean(curves['proportion'].cpu().numpy()), np.mean(curves['ngram'].cpu().numpy()),
AttributeError: 'list' object has no attribute 'cpu'

[2020-07-19 10:55] rachmadvwp commented on #382
I have solved the above problem.

Now, I have another one, from the same sample when running it on cuda gpu

[code]

It gives me error

`TypeError: can't convert cuda:0 device type tensor to numpy. Use Tensor.cpu() to copy the tensor to host memory first.`

I have tried `.cpu()`, `.cpu().numpy()`, and `np.array(...)`. But none of them work.
Could you please show me how to solve it?

Thanks in adva

[2020-07-19 16:12] Hananel-Hazan commented on #382
I'm sorry, we are not supporting this old script, please use [this ](https://github.com/BindsNET/bindsnet/blob/master/examples/mnist/eth_mnist.py)script instead.

[2020-07-19 16:12] #394 closed

[2020-07-19 17:24] daiminghuan commented on #394
thank you!&nbsp; I've got the new version of bindsnet ，it worked !

---Original---
From: "Hananel Hazan"<notifications@github.com&gt;
Date: Mon, Jul 20, 2020 00:12 AM
To: "BindsNET/bindsnet"<bindsnet@noreply.github.com&gt;;
Cc: "daiminghuan"<141180013@smail.nju.edu.cn&gt;;"Author"<author@noreply.github.com&gt;;
Subject: Re: [BindsNET/bindsnet] about example/mnist/supervised_mnist.py (#394)

Closed

[2020-07-21 17:24] wnourse05 opened #395 "Breakout example only works when forcing CPU"
I've tried running the breakout example in version 0.2.7, but I can only get it to work by exporting the shell variable `CUDA_VISIBLE_DEVICES=""` and forcing the CPU. If I try to run with the GPU, I get the following error:

I've tried forcing it onto the GPU using`torch.cuda.set_device("cuda:0")` and `network.to("cuda:0")` to no avail. How can I get this to work using the GPU?

[2020-07-21 19:17] Hananel-Hazan commented on #395
Thank you for using BindsNET.
Can you elaborate on your setup, where do you add the shell variable?

The script `breakout.py` don't have parameter to choose between CPU to GPU, and it runs on my computer using CPU without any issue

[2020-07-21 19:37] wnourse05 commented on #395
My setup is a GTX 980 Ti and Ubuntu 20.04, running in a python 3.8.2 venv with only bindsnet and its dependencies. When I run `breakout.py` (or `breakout_stdp.py`) from the terminal, I get the errors shown above. When I force the torch backend to use only the CPU, by entering `export CUDA_VISIBLE_DEVICES=""` into the terminal first before running `breakout.py`, then the script works.

Using just t

[2020-07-21 20:49] Hananel-Hazan commented on #395
Please run the following code on your system with a default setting, without set `export CUDA_VISIBLE_DEVICES=""`
[code]

Also, What is your system default settings of `CUDA_VISIBLE_DEVICES` ?

Using `network.to("cuda")`  and adding the parameter `device='cuda'` in `EnvironmentPipeline` is the correct way to use the GPU.

The methodology of running RL on the GPU is a little bit tricky. Typically,

[2020-07-22 08:44] SimonInParis commented on #395
Some learning parameters are not located on GPU.

Step 1.
In **breakout_stdp.py,** don't forget to add     **device='cuda'** when calling **environment_pipeline = EnvironmentPipeline()**

Step 2.
As a quick fix, you can make this small changes in bindsnet/learning/learning.py:
lines from 549:

        if not hasattr(self, "p_plus"):
            self.p_plus = torch.zeros(batch_size, *self.source.sh

[2020-07-22 14:04] wnourse05 commented on #395
These changes fixed the issue for me, thank you.

[2020-07-22 14:04] #395 closed

[2020-08-01 02:48] CHonChou opened #397 "When I run the SOM_LM_SNN example, an error occurred"
File "/home/answer/bindsnet/bindsnet-master/examples/mnist/SOM_LM-SNNs.py", line 92, in <module>
    nu=(1e-4, 1e-2),
TypeError: __init__() got an unexpected keyword argument 'inpt_shape'

[2020-08-02 14:52] Hananel-Hazan commented on #397
Hi @CHonChou , I am running the same script without any issue. Please make sure you are using the latest version from the GitHub.

[2020-08-02 14:52] #397 closed

[2020-08-02 19:00] Danielle-Schuman opened #398 "Order of MNIST images depends on n_neurons in supervised_mnist.py example?!"
While I was trying out different hyper parameter configurations for the supervised_mnist.py example, I noticed a peculiar thing:
When running the example with the same hyper parameters, the order of MNIST example images would always be the same, i.e. when looking at the labels after update_interval images, it would always be the same sequence of numbers. So far nothing weird, when running with see

[2020-08-02 22:03] Hananel-Hazan commented on #398
I have a couple of guesses.
1. We may need to set the `numpy` random generator and not only the torch one.
2. Maybe torch random seed and numpy random seed are connected somehow. The `n_neurons` use also by `numpy` random generator to draw the input neurons (line 195)
3. When you set the random seed, the sequence of random numbers is deterministic. That suggests that somewhere else in the script (

[2020-08-03 06:46] Danielle-Schuman commented on #398
Yes, that actually makes a lot of sense. Thank you very much :)

[2020-08-03 06:46] #398 closed

[2020-08-07 04:03] jcmharry opened #399 "Does Bindsnet admit to craete deep layers SNN?"
Hi, when I try to create a three or four layers SNN, it always come across the error "The size of tensor a (300) must match the size of tensor b (800) at non-singleton dimension 1". So what is the problem? Thanks.

`source_layer = Input(n=100,traces=True)
target_layer = LIFNodes(n=300,traces=True)
target_layer2 = LIFNodes(n=800,traces=True)
network.add_layer(
    layer=source_layer, name="A"
)
net

[2020-08-07 15:19] SimonInParis commented on #399
Hi.
Last line reads target='0' which is not defined. 'All to all' connection
like Connection() should deal with your architecture nicely. Please provide
more of your architecture code if the problem persists.
Simon Caby

Le ven. 7 août 2020 à 06:03, jcmharry <notifications@github.com> a écrit :

[2020-08-07 21:18] Hananel-Hazan commented on #399
@jcmharry with the last change that you made to your post, the code works fine on my end.
If you have further issues, please make sure that you using the right BindsNET version and post the full code that can replicate the problem.

[2020-08-07 21:18] #399 closed

[2020-08-08 04:07] jcmharry commented on #399
Thanks a lot!

[2020-08-09 03:57] Lizhanying-Sudo opened #401 "have a bug in BindsNET of examples(mnist\SOM_LM-SNNs.py)"
hi, i had a error in BindsNET of examples(mnist\SOM_LM-SNNs.py), did you have the error?
 my error content(AttributeError: Can't pickle local object 'create_torchvision_dataset_wrapper.<locals>.TorchvisionDatasetWrapper')
my env is python36 cuda10.2 torch16.0 torchvision0.7.0 binsnet0.2.7
by the way, if i set n_workers=1, the code can work, but cuda is available. i can't find the problem.
i am loo

[2020-08-09 11:52] SimonInParis commented on #401
Hi. So far, BindsNet is only tested with torch 1.5.0
Can you try downgrading torch version and see if the problem is still here?
Did you set cuda usage?
Simon

[2020-08-09 13:48] Lizhanying-Sudo commented on #401
hi simon, so lucky to see u again, i am monica in youtube talking the error.
actually, i try your suggestion. but it alway didn't work.

[2020-08-09 14:17] Lizhanying-Sudo commented on #401
maybe, because my OS is window7, pytorch recommand os is windows10 or greater, though windows7 is permitted.
if can't find method, i will try to change my OS.

[2020-08-09 19:30] SimonInParis commented on #401
You can try to 'pip install torch==1.5.0' to force version. See what happens.

[2020-08-10 00:42] Lizhanying-Sudo commented on #401
i can't do it, i received a error.
No matching distribution found for torch==1.5.0

[2020-08-10 00:52] Hananel-Hazan commented on #401
Hi @Lizhanying-Sudo, I tend to believe that it is a Windows/PyTorch issue. Since I can't replicate the issue and google search of the error message led me to many posts on  PyTorch forum that with a similar issue, and since each one of the logs in the posts had a windows path.
Try to use WSL2 with GPU on windows, its seems to solve many issues in development

[2020-08-10 02:48] Lizhanying-Sudo commented on #401
hai @Hananel-Hazan , i am so excited you reply to me and take a method. thank u very much. you are so nice.
I will try your suggestion.

[2020-08-10 02:48] #401 closed

[2020-08-11 01:23] CHonChou opened #402 "How to choose convolutional layer and pooling layer parameters"
My code is as follows：
kernel_size = 4
stride =2
n_filters = 25
kernel_size_pooling =4
stride_pooling = 2
n_filters_pooling =25

conv_size = int((28 - kernel_size + 2 * padding) / stride) + 1
pooling_size=int((28 - kernel_size_pooling ) / stride_pooling) + 1
# Build network.
network = Network()
input_layer = Input(n=784, shape=(1, 28, 28), traces=True)
conv_layer = DiehlAndCookNodes(
    n=n_filte

[2020-08-13 01:17] CHonChou commented on #402
A very simple mistake, wrong choice of the number of neurons in the pooling layer

[2020-08-13 15:24] #402 closed

[2020-08-15 01:51] jcmharry opened #405 "what are the difference between the example eth_mnist.py and the proposed network by Diehl & Cook 2015."
Hi, I have found the example eth_mnist.py is much faster while training the weights in the excitatory layer, howvere, the learning rate keeps same as Diehl & Cook 2015, are there any other factors which lead to a faster training? And the testing accuracy is lower than original paper, so I wonder what the differences between the example eth_mnist.py and the proposed network by Diehl & Cook 2015 are

[2020-08-17 00:46] Hananel-Hazan commented on #405
Diehl & Cook script works with Brian simulator that uses a different method to calculate the LIF neuron. Moreover, Brian uses more complex synapses to transmit the spikes between neurons. There are probably more changes than this, but that enough to make some differences between the two platforms. Especially in our case, where we use the current values to calculate the next steps, like in any othe

[2020-08-17 00:46] #405 closed

[2020-08-23 03:58] krooq opened #407 "Question: No 'name' attribute for network items"
BindsNET has a really nice API, its super easy to understand and has a low barrier for entry, massive props to the team.
I found one rough edge that I'd like to understand a little better and maybe propose a change,
i.e. network items have no 'name' attribute.

This [example code](https://bindsnet-docs.readthedocs.io/guide/guide_part_i.html#running-simulations) is a really good starting point and

[2020-08-23 22:06] krooq commented on #407
Sure I can give it a go.
Pretty new to BindsNET so it might take me a little while but it would be a good way to understand it all a bit better.

[2020-08-23 22:13] Hananel-Hazan commented on #407
Thank you for this welcome suggestion. You are right, there is some redundancy in the way we defining the network. Some of this style of code comes from other projects that we wanted to be compatible with their code style.

As Dan mentioned, this change should cause major changes in many parts of the project. The transition will take time.

[2020-08-23 22:36] krooq commented on #407
I was wondering if it would be better to give users the choice of accessing network items using either the name or object itself.
I understand this isn't very Pythonic (i.e. more than 1 way to do it) but it comes with a few advantages.
1. It can be clearly expressed in the types so it wouldn't really be confusing
2. It would allow for migration away from strings at a later time
3. It wouldn't be a

[2020-08-25 14:58] djsaunde commented on #407
@krooq I think I like that idea as well. Could you explain why we might want to move away from strings?

Random idea: automatic naming of layers / monitors, for when the user fails to pass in names (e.g., `LIFNodes_1`, `LIFNodes_2`, ..., and so on for other layer types) (e.g., `LIFNodes_1_Monitor`, etc.).

[2020-08-25 22:50] krooq commented on #407
@djsaunde in Python (most other languages) objects have a unique int identifier `id()`, this is managed by the runtime, I don't think its mutable.  It's just more robust and concise to use this built in identifier for equality than a string.
It also separates the naming semantics from the identification if for some reason the user wanted to rename nodes (maybe a GUI editor would have this feature)

[2020-08-26 15:54] djsaunde commented on #407
It also separates the naming semantics from the identification if for some reason the user wanted to rename nodes (maybe a GUI editor would have this feature).

Since most of the time users will only be working in one file it's probably unnecessary to change the way the Nodes are keyed (i.e. replace the strings).

Okay, thanks for the explanation. I think we'll table this idea for now, but I like

[2020-08-26 15:57] djsaunde opened #408 "Automatic naming of network components"
Based on [discussion](https://github.com/BindsNET/bindsnet/issues/407#issuecomment-680967564) on #407, we _may_ want to feature automatic naming of certain network components (layers, monitors, ...?) if the user fails to provide string names.

Feel free to discuss.

[2020-08-31 15:21] SeniorCtrlPlayer opened #410 "a little bug"
https://github.com/BindsNET/bindsnet/blob/70d91607919b1b3f75b048c1c1e7312e4dd70d50/bindsnet/analysis/plotting.py#L383

`ticks` should be `list(range(-1, 10))`

[2020-08-31 16:26] Hananel-Hazan commented on #410
Thanks for reporting this, however, I think the problem comes from somewhere else. try the last PR and let me know

[2020-08-31 17:09] SeniorCtrlPlayer commented on #410
`yticklabels` and `ticks` need list with same length, setting `["none"] + list(range(11)` in `yticklabels` is worked too 😸

[2020-08-31 17:15] Hananel-Hazan commented on #410
yes, your right.
Anyhow, glad that is work out.

[2020-08-31 17:15] #410 closed

[2020-09-23 15:36] ruteee opened #414 "Indices of plot_spikes function seems to be swapped"
When running the plot_spikes function on the reservoir mnist example, the indices for neuron and time seems to be incorrect.
That is, neurons are in the domain (0 - 250) which is the time parameter domain. Whereas the time parameter is set from 0 to 784, which is the number of neurons in the input layer, in both the input and output layers plot.

![swapped_indices](https://user-images.githubuserco

[2020-09-23 15:51] Hananel-Hazan commented on #414
Good catch.
Can you submit a PR with this change?

[2020-09-23 15:56] ruteee commented on #414
Yes, for sure.

[2020-09-23 17:27] Hananel-Hazan commented on #414
Thanks for your help and submitting the PR #415

[2020-09-23 17:27] #414 closed

[2020-10-06 10:11] SeniorCtrlPlayer opened #419 "Perhaps a useless code line"
https://github.com/BindsNET/bindsnet/blob/ff5925dfb03802ed1783fe0f8160e11c81e21a01/bindsnet/network/network.py#L393

After this line, the `current_inputs` is unused in this for loop, but the `current_inputs` will be set `{}` at the beginning of the next for loop.
So, I think it's useless

[2020-10-07 17:02] Hananel-Hazan commented on #419
Thanks for bring it up, its seems that you are correct. But I will take a look deeper at the weekend

[2020-10-19 02:02] likui01 opened #421 "unable to understand"
HI,
is it possible to explain a few steps in the example code?

n_classes = 10
assignments = -torch.ones(n_neurons, device=device)
proportions = torch.zeros((n_neurons, n_classes), device=device)
rates = torch.zeros((n_neurons, n_classes), device=device)

what each statement present.
How do we calculate the labels?
assignments, proportions, rates = assign_labels(
                spikes=spike_recor

[2020-10-19 16:19] Hananel-Hazan commented on #421
Please take a look on the [code ](https://github.com/BindsNET/bindsnet/blob/e69b975c16016dd412617f11bd19f7889128bced/bindsnet/evaluation/evaluation.py#L8) and the accompany papers for more detail:

1. Lattice map spiking neural networks (LM-SNNs) for clustering and classifying image data - [link](https://link.springer.com/epdf/10.1007/s10472-019-09665-3?author_access_token=nHODEUqmcqNJhF0ccyI55fe4

[2020-10-19 16:19] #421 closed

[2020-10-23 10:13] Narinder-1986 opened #422 "Possibilities to implement custom gym environment"
Can we implement custom gym environment, What will be the good practice ?

Like, do we have to just develop own custom environment and install it ( with pip install -e .) or directly have to work on GymEnvironment and modify it for making own environment?

[2020-10-25 15:40] Hananel-Hazan commented on #422
You can use any environment that you wish to use. Just feed the spiking network with the relevant input and activate or modify the STDP strength according to the reward.

[2020-10-25 15:40] #422 closed

[2020-10-25 15:50] #419 closed

[2020-10-25 15:51] #312 closed

[2020-10-27 03:10] Originofamonia opened #424 "Are there any SNN doing regression task examples?"
Hi,

I really appreciate your work in building this SNN development framework. It helps my research work a lot.
Can I ask are there any work related to SNN doing regression tasks? Whether it's some papers or code. I tried to search online, but haven't found any related work.

Thanks!

[2020-10-28 04:37] Narinder-1986 commented on #422
Ok Thanks, I will try.

[2020-10-29 13:43] Looper2074 opened #425 "Optimization/Performance issue compared to Norse"
https://github.com/norse/norse/tree/master/norse/benchmark

Performance compared to norse

[2020-10-29 19:05] Huizerd commented on #424
You might want to look at SNNs for control (e.g. in a reinforcement learning sense), such as these: https://arxiv.org/abs/2010.09635, https://arxiv.org/abs/2003.03118

[2020-11-01 20:17] Hananel-Hazan commented on #425
Thank you for bringing this up, seems strange, but I will check it up.

[2020-11-01 21:05] Hananel-Hazan commented on #424
Thanks @Huizerd.

Here are couple of papers on the subject:
[Backpropagation and the brain](https://www.nature.com/articles/s41583-020-0277-3)
[A Calculus for Brain Computation](https://ccneuro.org/2019/proceedings/0000998.pdf)
[A solution to the learning dilemma for recurrent networks of spiking neurons](https://www.biorxiv.org/content/biorxiv/early/2019/08/19/738385.full.pdf)

[2020-11-01 21:05] #424 closed

[2020-11-04 14:55] Hananel-Hazan commented on #425
I am not sure what version of BindsNET they used in their test.
Running the Norse benchmark scripts produce the following results (excluding GeNN):
![1](https://user-images.githubusercontent.com/3954715/98124731-938c6c00-1e81-11eb-82e0-262d65f45dbb.png)

The hardware is Intel(R) Xeon(R) CPU E5-2687W v3 @ 3.10GHz with 64Gb RAM, GeForce GTX TITAN X with 12Gb.

Has statement in the Norse benchmark re

[2020-11-04 15:47] Jegp commented on #425
Hi, co-author of Norse here. It's interesting you get so different results. We're not interested in rigging the benchmark, so I'll try out your code now. Would you recommend using the master branch of BindsNet or just the latest release?

[2020-11-04 15:55] Hananel-Hazan commented on #425
Hi @Jegp great to hear from you, great job on the Norse project, we certainly have things to learn from you guys.
You can use either one of them, currently the master branch and the latest release are the same.

[2020-11-04 16:08] Jegp commented on #425
Likewise! BindsNet is definitely something to look up to.

Thanks also for the reply; I'll pull the latest and run the benchmarks again.

[2020-11-04 18:37] Jegp commented on #425
After applying your changes and evening it up a bit (Norse is recording spikes, for instance) here are the results:

![20201104benchmark](https://user-images.githubusercontent.com/1064317/98140496-ca847100-1ec5-11eb-9790-91df4031f143.png)

I'm still I'm using the newest version (0.2.8 - although I couldn't find it on pip?). The PR for Norse can be found here: https://github.com/norse/norse/pull/14

[2020-11-05 01:21] Hananel-Hazan commented on #425
Great, now its seems right, adding monitor to the network will add the shift upward as it seems in your picture.
You are right, it is hard to compare it equally.
I'm surprise to see that Norse performance almost cut to half from the last test.
 In any case, this is a good exercise for us to see if we have excessive overhead somewhere.

[2020-11-05 10:54] Jegp commented on #425
Hard indeed. I suspect the shift in Norse performance is due to an intermediate, but superfluous, tensor I uncovered. I definitely also learned something there so this exercise seems to be mutually beneficial :-) Please don't hesitate to ping us if there are further ideas on how to benchmark this fairly.

Related, I'm quite impressed by the extremely low variance of BindsNet. Do you have an idea a

[2020-11-09 01:15] Hananel-Hazan commented on #425
I don't know why BindsNET have such a low and almost constant variance, one of the things to investigate :-)

[2020-11-09 02:41] ZulunZhu opened #426 "The accuracy of the eth_minist.py"
I run the code of eth_minist and found that the accuracy of the test(79%) is far away from the accuracy reported by the paper(95%). I want to know why does it happen?

[2020-11-09 13:00] SimonInParis commented on #426
Hi.
You can try to change the number of neurons with the --n_neurons=100 option.
Try a square value, like 900 (30x30) to get a good accuracy.
Optimum results are using 1600 neurons or more I think (6400?).
Simon

On Mon, Nov 9, 2020 at 3:42 AM ZulunZhu <notifications@github.com> wrote: